ARCHIVES/n8n-workflows/archives/Revenant_v22_SB6.json
{
  "name": "Revenant_v22_SB6",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Load all configuration from variables\nconst config = {\n  // Cost Configuration\n  cost_uzs: {\n    agent_hourly_rate: parseInt($vars.AGENT_HOURLY_RATE) || 50000,\n    manual_ticket_cost: parseInt($vars.MANUAL_TICKET_COST) || 12500,\n    ai_processing_cost: parseInt($vars.AI_PROCESSING_COST) || 2500,\n    savings_per_ticket: parseInt($vars.SAVINGS_PER_TICKET) || 10000,\n    tickets_per_month: parseInt($vars.TICKETS_PER_MONTH) || 1000\n  },\n  \n  // AI Configuration\n  ai_config: {\n    model: \"openai/gpt-4o-mini\",\n    timeout_ms: 6000,\n    retry_count: 3,\n    confidence_threshold: 0.7\n  },\n  \n  // SLA Configuration\n  uzbekistan_sla: {\n    timezone: 'Asia/Tashkent',\n    business_hours: { start: 9, end: 18, days: [1, 2, 3, 4, 5] },\n    thresholds_ms: { critical: 1800000, high: 7200000, medium: 28800000, low: 86400000 },\n    after_hours_multiplier: 1.5\n  },\n  \n  // System Configuration\n  system_config: {\n    workflow_version: 'Revenant_v20_HYBRID_ENTERPRISE',\n    max_tickets_per_minute: 100,\n    audit_log_enabled: true,\n    telemetry_enabled: true,\n    // ✅ ADDED: Initialize memory retrieval failure counter\n    memory_retrieval_failures: 0\n  }\n};\n\n// Validate configuration\nconst validation = {\n  has_cost_config: !!config.cost_uzs,\n  has_ai_config: !!config.ai_config,\n  variables_loaded: {\n    AGENT_HOURLY_RATE: !!$vars.AGENT_HOURLY_RATE,\n    MANUAL_TICKET_COST: !!$vars.MANUAL_TICKET_COST,\n    AI_PROCESSING_COST: !!$vars.AI_PROCESSING_COST,\n    SAVINGS_PER_TICKET: !!$vars.SAVINGS_PER_TICKET,\n    TICKETS_PER_MONTH: !!$vars.TICKETS_PER_MONTH\n  }\n};\n\nconst outputItem = {\n  json: {\n    config: config,\n    config_validation: validation,\n    loaded_at: new Date().toISOString(),\n    node_count: Object.keys($node || {}).length\n  }\n};\n\n// ✅ EXECUTION IDENTITY - ADDED AT END FOR MERGE DETERMINISM\noutputItem.json.trace_id = $execution.id;\n\nreturn [outputItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -368
      ],
      "id": "8f9d7ca5-7dc1-4fe4-a7de-0fa222d500ea",
      "name": "Configuration Loader - V20"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"{{ $json.reason }}\",\n  \"error_code\": \"{{ $json.error_type }}\",\n  \"trace_id\": {{ $json.trace_id }},\n  \"stage\": \"{{ $json.stage }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "f3094c74-f319-49a6-ac9d-057d24c263b5",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        368,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst ct = item.json.canonical_ticket;\n\n// Phase 0 Core Validation - HARDENED FOR TYPE SAFETY\nconst errors = [];\n\n// 1. REQUIRED: Trace ID must exist and be valid\nif (!ct.trace_id) {\n  errors.push('MISSING_TRACE_ID');\n} else {\n  // Convert to string safely for validation\n  const traceIdStr = String(ct.trace_id);\n  if (traceIdStr.trim().length === 0) {\n    errors.push('EMPTY_TRACE_ID');\n  }\n}\n\n// 2. REQUIRED: Subject must exist and be valid length\nif (!ct.subject) {\n  errors.push('MISSING_SUBJECT');\n} else {\n  const subjectStr = String(ct.subject);\n  if (subjectStr.trim().length === 0) {\n    errors.push('EMPTY_SUBJECT');\n  } else if (subjectStr.trim().length > 500) {\n    errors.push('SUBJECT_TOO_LONG');\n  }\n}\n\n// 3. REQUIRED: Valid email format\nif (!ct.customer_email) {\n  errors.push('MISSING_CUSTOMER_EMAIL');\n} else {\n  const emailStr = String(ct.customer_email);\n  if (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(emailStr)) {\n    errors.push('INVALID_CUSTOMER_EMAIL_FORMAT');\n  }\n}\n\n// 4. SANITY: workflow_error shouldn't exist yet\nif (ct.workflow_error) {\n  errors.push('PREMATURE_WORKFLOW_ERROR');\n}\n\n// 5. ✅ CORRECTED: language_analysis is NOT required at this stage\n//    This validation was premature - removing requirement\n\n// 6. ✅ CORRECTED: rule_engine is NOT required at this stage  \n//    This validation was premature - removing requirement\n\n// VALIDATION RESULT\nif (errors.length > 0) {\n  return [{\n    json: {\n      canonical_ticket: {\n        ...ct,\n        workflow_error: {\n          type: 'PHASE_0_VALIDATION_FAILED',\n          errors: errors,\n          timestamp: new Date().toISOString(),\n          trace_id: String(ct.trace_id || 'UNKNOWN'),  // Convert to string\n          stage: 'phase_0_validation',\n          input_sample: {\n            subject: ct.subject ? String(ct.subject).substring(0, 50) : 'missing',\n            email: ct.customer_email ? String(ct.customer_email) : 'missing'\n          }\n        },\n        __validation_failed: true\n      }\n    }\n  }];\n}\n\n// ✅ PHASE 0 COMPLETE - Continue normally\nreturn [{\n  json: {\n    trace_id: String(ct.trace_id) ,\n    canonical_ticket: {\n      ...ct,\n      // Ensure trace_id is string for downstream consistency\n      trace_id: String(ct.trace_id),\n      // Add Phase 0 validation timestamp\n      phase_0_completed_at: new Date().toISOString(),\n      phase_0_status: 'validated'\n    }\n  }\n}];"
      },
      "id": "e18800d0-24cf-4f5c-9d44-fa0ac30b8d34",
      "name": "Phase 0 Validation Gate - V20",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -432
      ]
    },
    {
      "parameters": {
        "jsCode": "// Input Validator & Cleaner - V16 - HARDENED\nconst envelope = $input.first().json;\n\n// ARCHITECTURAL GUARD - Must have envelope structure\nif (!envelope.meta || envelope.meta.stage !== 'SB0') {\n  throw new Error(`ARCHITECTURAL_VIOLATION: Invalid envelope stage - expected SB0, got ${envelope.meta?.stage}`);\n}\n\nconst payload = envelope.payload;\n\n// Validate required fields exist\nconst requiredFields = ['subject', 'body', 'customer_email'];\nconst missingFields = requiredFields.filter(field => !payload?.[field]);\nif (missingFields.length > 0) {\n  throw new Error(`SB1_VALIDATION_FAILED: Missing payload fields: ${missingFields.join(', ')}`);\n}\n\n// Clean text function\nconst cleanText = (text) => {\n  if (!text) return '';\n  return text.toString()\n    .replace(/<script\\b[^<]*(?:(?!<\\/script>)<[^<]*)*<\\/script>/gi, '')\n    .replace(/<[^>]*>/g, '')\n    .replace(/[&<>\"']/g, char => ({\n      '&': '&amp;',\n      '<': '&lt;', \n      '>': '&gt;',\n      '\"': '&quot;',\n      \"'\": '&#x27;'\n    }[char]))\n    .replace(/[\\t\\n\\r]+/g, ' ')\n    .trim();\n};\n\n// Extract headers from envelope (preserved in SB0 envelope)\nconst originalHeaders = envelope.original_headers || {};\n\n// Build canonical ticket with SINGULARITY FLAG\nconst cleaned_ticket = {\n  trace_id: envelope.meta.trace_id,\n  subject: cleanText(payload.subject),\n  body: cleanText(payload.body),\n  customer_email: cleanText(payload.customer_email),\n  original_subject: payload.subject,\n  original_body: payload.body,\n  original_customer_email: payload.customer_email,\n  severity: payload.severity || 'medium',\n  priority: payload.priority || 'medium',\n  category: payload.category || 'technical',\n  webhook_received_at: new Date().toISOString(),\n  client_ip: originalHeaders['x-forwarded-for'] || 'unknown',\n  user_agent: originalHeaders['user-agent'] || 'unknown',\n  // ⚡ CRITICAL SINGULARITY FLAG - Prevents re-validation\n  __validation_attempted: true,\n  // Audit trail\n  validation_stage: 'SB1',\n  envelope_processed_at: envelope.meta?.timestamp || new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    canonical_ticket: cleaned_ticket,\n    // Preserve envelope metadata for traceability\n    __envelope_metadata: {\n      trace_id: envelope.meta.trace_id,\n      stage: envelope.meta.stage,\n      execution_mode: envelope.meta.execution_mode,\n      processed_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "9855e476-f580-4d7e-a457-ee2b18670a44",
      "name": "Input Validator & Cleaner - V16",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.meta && $json.meta.stage === 'SB0' }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "rightValue": true
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.payload && $json.payload.subject && $json.payload.body && $json.payload.customer_email.toBoolean() }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "rightValue": true
            },
            {
              "id": "e1398c9e-e196-4185-a261-c95cd7f8e8ec",
              "leftValue": "={{ $json.__validation_attempted !== true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "85953312-3368-4a5f-89d2-b1cda84ff841",
              "leftValue": "={{ !!($json.payload && $json.payload.subject && $json.payload.subject.trim().length > 0) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "length-validation",
              "leftValue": "={{ $json.payload && $json.payload.body && $json.payload.body.trim().length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "6af9f137-76e8-475a-b5f6-7d86bf80d610",
              "leftValue": "={{ !!$json.payload?.customer_email }}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "d58655a2-8590-4fba-8e5c-3d5a560204c7",
              "leftValue": "={{ !($json.payload && ($json.payload.subject.includes('<script>') || $json.payload.body.includes('<script>'))) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "0da7e02e-01e2-47ed-9b80-d1bee0c1116e",
              "leftValue": "={{ $json.payload && $json.payload.subject && $json.payload.subject.trim().length <= 500 && $json.payload.body.trim().length <= 5000 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "46da2e31-1414-41d1-8e56-8111294ef7de",
              "leftValue": "={{ $json.payload.customer_email.trim() }}",
              "rightValue": "^[^@ ]+@[^@ ]+\\.[^@ ]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fde58ecf-401d-4abe-82b2-0391c184bb23",
      "name": "Validate Input Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        -208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f860224a-492d-454b-b3dc-0970fa48ad3a",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0cc4ffd1-467d-45c6-ac1b-c652ea56c50e",
      "name": "Webhook Ingestion - Rate Limited",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1200,
        -288
      ],
      "webhookId": "f860224a-492d-454b-b3dc-0970fa48ad3a"
    },
    {
      "parameters": {
        "jsCode": "// ⚠️ SB1 ERROR EXIT – Validation Failure Handler - TERMINAL\nconst item = $input.first();\n\n// TERMINAL ERROR - Structured for webhook response\nreturn [{\n  json: {\n    // Signal to Return Validation Error node that this is a terminal error\n    __terminal_error: true,\n    error_type: 'SB1_VALIDATION_TERMINAL',\n    trace_id: item.json.meta?.trace_id || 'unknown',\n    stage: 'SB1',\n    http_code: 400,\n    reason: 'Validation failed – terminal exit',\n    timestamp: new Date().toISOString(),\n    \n    // Preserve envelope structure for audit trail\n    original_envelope: {\n      meta: item.json.meta,\n      config: item.json.config,\n      payload: item.json.payload\n    }\n  }\n}];"
      },
      "id": "b7942f15-b143-4a2a-9655-8a76e353e395",
      "name": "⚠️ SB1 ERROR EXIT – Validation Failure Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -112
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "trace_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -528,
        -288
      ],
      "id": "a73f905f-240e-4be7-b0ad-eb0a373d95a3",
      "name": "Merge Node Configuration"
    },
    {
      "parameters": {
        "jsCode": "// PROD Input Normalizer - Hardened V20\nconst item = $input.first();\nconst json = item.json;\n\n// 1. CANONICAL TRACE ID - ADDED AT TOP FOR DETERMINISM\nitem.json.trace_id = $execution.id;\n\n// 2. EXISTING NORMALIZATION LOGIC\nif (json.subject && json.body && !json.body?.subject) {\n  return [{\n    json: {\n      trace_id: $execution.id, // Preserve in normalized structure\n      body: {\n        subject: json.subject,\n        body: json.body,\n        customer_email: json.customer_email || null\n      }\n    }\n  }];\n}\n\n// 3. ENSURE TRACE_ID PERSISTS IN ALL RETURN PATHS\nreturn [{ \n  json: {\n    ...json,\n    trace_id: $execution.id // Force overwrite to prevent any upstream contamination\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        -288
      ],
      "id": "63ede8e6-a8a5-42d3-aa9d-6624ef5ca9c1",
      "name": "PROD Input Normalizer - Hardened V20"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"trace_id\": \"{{ $execution.id }}\",\n  \"meta\": {\n    \"trace_id\": \"{{ $execution.id }}\",\n    \"execution_mode\": \"{{ $json.executionMode || 'prod' }}\",\n    \"stage\": \"SB0\",\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  },\n  \"config\": {{ JSON.stringify($json.config) }},\n  \"payload\": {\n    \"subject\": \"{{ $json.body.subject }}\",\n    \"body\": \"{{ $json.body.body }}\",\n    \"customer_email\": \"{{ $json.body.customer_email }}\",\n    \"severity\": \"{{ $json.body.severity || 'medium' }}\",\n    \"priority\": \"{{ $json.body.priority || 'medium' }}\",\n    \"category\": \"{{ $json.body.category || 'technical' }}\"\n  },\n  \"original_headers\": {{ JSON.stringify($json.headers) }},\n  \"__raw_data_purged\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -288
      ],
      "id": "de1f0bdf-de37-4eb4-bc5f-fd43a62ffa4e",
      "name": "SB0 – Envelope Constructor"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst ct = item.json.canonical_ticket;\nconst text = (ct.subject + ' ' + ct.body).toLowerCase();\n\n// Priority Rules for Uzum Ecosystem\nconst rules = [\n  { \n    intent: 'access_issue', \n    regex: /\\b(403|401|login|password|access|denied|portal|kabinet|kirish|parol|vaxod|dostup|forbidden)\\b/, \n    severity: 'high', \n    score: 0.95 \n  },\n  { \n    intent: 'payment_issue', \n    regex: /\\b(payment|to'lov|oplat|o'tkazma|transak|card|karta|uzcard|humo|click|payme)\\b/, \n    severity: 'critical', \n    score: 0.9 \n  },\n  { \n    intent: 'security_alert', \n    regex: /\\b(security|xavfsizlik|hacker|attack|virus|hack|fishing|vzlom)\\b/, \n    severity: 'critical', \n    score: 1.0 \n  },\n  { \n    intent: 'network_issue', \n    regex: /\\b(internet|network|tarmoq|connect|sechenie|vpn|slow|sekin|medlenno)\\b/, \n    severity: 'medium', \n    score: 0.85 \n  }\n];\n\nlet detectedIntent = 'general_inquiry';\nlet detectedSeverity = ct.severity || 'medium';\nlet ruleConfidence = 0.5;\n\nfor (const rule of rules) {\n  if (rule.regex.test(text)) {\n    detectedIntent = rule.intent;\n    detectedSeverity = rule.severity;\n    ruleConfidence = rule.score;\n    // Boost severity if it's a Merchant specific issue\n    if (text.includes('merchant') || text.includes('portal') || text.includes('tadbirkor')) {\n        detectedSeverity = (detectedSeverity === 'critical') ? 'critical' : 'high';\n    }\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    canonical_ticket: {\n      ...ct,\n      rule_engine: {\n        intent: detectedIntent,\n        severity: detectedSeverity,\n        confidence: ruleConfidence,\n        detected_at: new Date().toISOString(),\n        engine_version: \"2.1.0-enterprise\"\n      },\n      data_integrity: {\n        ...ct.data_integrity,\n        last_modified: Date.now(),\n        modification_count: (ct.data_integrity?.modification_count || 0) + 1\n      }\n    }\n  }\n}];"
      },
      "id": "d9fd3f2f-aef5-47a5-a7d3-5a318e3190d6",
      "name": "Rule-Based Classifier - V20",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -320
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * REVENANT ENTERPRISE: Rule-Based Severity Classifier V22\n * Logic: Multi-factor weighted heuristic engine.\n */\nconst item = $input.first();\nconst ct = item.json.canonical_ticket || item.json;\nconst text = (ct.subject + ' ' + ct.body).toLowerCase();\nconst features = ct.text_features || {};\n\n// 1. Scoring Matrix (Enterprise Weights)\nconst scores = { critical: 0, high: 0, medium: 0, low: 0 };\n\nconst WEIGHTS = {\n  CRITICAL_INDICATOR: 3.5,\n  HIGH_INDICATOR: 2.0,\n  ERROR_CODE_MATCH: 1.5,\n  INTENT_ESCALATION: 2.5,\n  LENGTH_PENALTY: 1.0\n};\n\n// 2. High-Fidelity Pattern Matching\nconst patterns = {\n  critical: /\\b(outage|down|breach|loss|emergency|ishlamayapti|отключен|критическая)\\b/i,\n  high: /\\b(failed|cannot|unable|error|failed|urgent|tezda|сброс|ошибка)\\b/i,\n  technical_errors: /error\\s+(403|500|502|503|401)|timeout|database/i\n};\n\n// 3. Execution Logic\nif (patterns.critical.test(text)) scores.critical += WEIGHTS.CRITICAL_INDICATOR;\nif (patterns.high.test(text)) scores.high += WEIGHTS.HIGH_INDICATOR;\nif (patterns.technical_errors.test(text)) scores.high += WEIGHTS.ERROR_CODE_MATCH;\n\n// Cross-reference Text Features\nif (features.has_critical) scores.critical += 2;\nif (features.has_error_code) scores.high += 1.5;\n\n// 4. Intent-Aware Escalation (Cross-Node Intelligence)\nif (ct.rule_engine?.intent === 'access_issue' && text.includes('merchant')) {\n    scores.high += WEIGHTS.INTENT_ESCALATION;\n}\n\n// 5. Deterministic Severity Selection\nconst maxScore = Math.max(scores.critical, scores.high, scores.medium, scores.low);\nlet finalSeverity = 'medium';\n\nif (scores.critical >= 3) finalSeverity = 'critical';\nelse if (scores.high >= 2) finalSeverity = 'high';\nelse if (scores.medium >= 1) finalSeverity = 'medium';\nelse finalSeverity = 'low';\n\nconst confidence = Math.min(0.98, 0.4 + (maxScore / 10));\n\nreturn [{\n  json: {\n    ...item.json,\n    rule_based_severity: {\n      severity: finalSeverity,\n      confidence: parseFloat(confidence.toFixed(2)),\n      scores: scores,\n      calculated_at: new Date().toISOString()\n    },\n    canonical_ticket: {\n      ...ct,\n      rule_based_severity: {\n        severity: finalSeverity,\n        confidence: parseFloat(confidence.toFixed(2)),\n        scores: scores\n      }\n    }\n  }\n}];"
      },
      "id": "775525e7-f718-4bbf-99f8-32e31de14952",
      "name": "Rule-Based Severity Classifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        -320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Text Feature Engineering (Deterministic) - V20\nconst item = $input.first();\nconst ct = item.json.canonical_ticket;\n\n// Validate input has required fields\nif (!ct.trace_id || !ct.subject || !ct.body) {\n  throw new Error(`MISSING_REQUIRED_FIELDS: trace_id=${!!ct.trace_id}, subject=${!!ct.subject}, body=${!!ct.body}`);\n}\n\nconst text = (ct.subject || '') + ' ' + (ct.body || '');\nconst textLower = text.toLowerCase();\n\n// Length features\nconst features = {\n  subject_length: ct.subject?.length || 0,\n  body_length: ct.body?.length || 0,\n  total_length: text.length,\n  word_count: text.split(/\\s+/).filter(w => w).length\n};\n\n// Keyword detection\nfeatures.has_critical = /\\b(critical|emergency|outage|down|breach)\\b/i.test(text);\nfeatures.has_urgent = /\\b(urgent|immediate|asap|now)\\b/i.test(text);\nfeatures.has_error_code = /error\\s+\\d+|code\\s+\\d+|err\\s+\\d+/i.test(text);\nfeatures.has_question = /\\b(how|what|why|can|could|would)\\b/i.test(text);\n\n// Complexity score\nfeatures.complexity_score = (\n  features.word_count * 0.1 +\n  (features.has_critical ? 3 : 0) +\n  (features.has_urgent ? 2 : 0) +\n  (features.has_error_code ? 1 : 0)\n);\n\n// Update canonical ticket\nconst updatedTicket = {\n  ...ct,\n  text_features: features,\n  data_integrity: {\n    ...ct.data_integrity,\n    last_modified: Date.now(),\n    modification_count: (ct.data_integrity?.modification_count || 0) + 1\n  }\n};\n\nreturn [{\n  json: {\n    canonical_ticket: updatedTicket\n  }\n}];"
      },
      "id": "253a7610-956e-4ef9-afa3-4cc4b940e588",
      "name": "Text Feature Engineering (Deterministic)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -320
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "trace_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        -320
      ],
      "id": "e6fc3b84-63ce-4235-8850-7c40d350b7e9",
      "name": "Merge: Phase 0 Output + SB0 Config"
    },
    {
      "parameters": {
        "jsCode": "/**\n * REVENANT ENTERPRISE: Pre-Fusion Normalizer V22\n * Logic: Conflict resolution & provenance stabilization.\n */\nconst item = $input.first();\nconst ct = item.json.canonical_ticket;\n\n// 1. HARD VALIDATION: Fail-Fast for Data Integrity\nif (!ct.rule_engine || !ct.rule_based_severity) {\n  throw new Error(`INTEGRITY_VIOLATION: Missing intelligence inputs in trace ${ct.trace_id}`);\n}\n\n// 2. CONFLICT RESOLUTION (Expert Logic)\n// If rule-based severity is 'critical' but engine says 'medium', we escalate to be safe.\nconst engineSev = ct.rule_engine.severity;\nconst ruleSev = ct.rule_based_severity.severity;\n\nconst SEVERITY_RANK = { critical: 4, high: 3, medium: 2, low: 1 };\n\nconst resolvedSeverity = (SEVERITY_RANK[ruleSev] >= SEVERITY_RANK[engineSev]) \n    ? ruleSev \n    : engineSev;\n\n// 3. CONFIDENCE AGGREGATION\nconst normalizedConfidence = (ct.rule_engine.confidence + ct.rule_based_severity.confidence) / 2;\n\n// 4. ENTERPRISE CLASSIFICATION OBJECT\nconst classification = {\n  intent: ct.rule_engine.intent,\n  severity: resolvedSeverity,\n  confidence: parseFloat(normalizedConfidence.toFixed(2)),\n  source: \"hybrid_fusion_engine_v22\",\n  normalized_at: new Date().toISOString(),\n  // EXPLAINABLE AI: Provenance maintains the \"Why\"\n  provenance: {\n    intent_source: \"rule_engine_v21\",\n    severity_strategy: (ruleSev !== engineSev) ? \"escalated_by_rule\" : \"consensus\",\n    raw_scores: {\n      engine: engineSev,\n      rules: ruleSev\n    }\n  }\n};\n\n// 5. IMMUTABLE UPDATE\nreturn [{\n  json: {\n    canonical_ticket: {\n      ...ct,\n      classification: classification,\n      data_integrity: {\n        ...ct.data_integrity,\n        last_modified: Date.now(),\n        modification_count: (ct.data_integrity?.modification_count || 0) + 1,\n        classification_normalized: true\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -320
      ],
      "id": "920a7e19-1fdc-4ca1-a8b1-d91a0bfc1b6f",
      "name": "Pre-Fusion Classification Normalizer - V1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * @file Business Impact & ROI Calculator\n * @version 2.1.0\n * @description Calculates financial impact and efficiency gains for automated ticket resolution.\n */\n\n// 1. Constants & Default Configuration (Hardened)\nconst DEFAULTS = {\n    COST_CONFIG: {\n        agent_hourly_rate: 50000,\n        manual_ticket_cost: 12500,\n        ai_processing_cost: 2500,\n        avg_resolution_time_mins: 15\n    },\n    CURRENCY: 'UZS'\n};\n\ntry {\n    const item = $input.first();\n    const ct = item.json.canonical_ticket || {};\n    \n    // 2. Defensive Configuration Loading\n    // Hierarchy: Workflow Config > Ticket Meta > Global Defaults\n    const config = {\n        ...DEFAULTS.COST_CONFIG,\n        ...(ct.workflow_metadata?.config?.cost_uzs || {})\n    };\n\n    // 3. Extraction & Validation\n    const isAutoResolved = ct.ticket_status === 'auto_resolved';\n    const aiCost = Number(config.ai_processing_cost) || 0;\n    const manualCost = Number(config.manual_ticket_cost) || 0;\n\n    // 4. Core Logic: Financial Impact\n    // Enterprise Standard: We calculate Gross Savings before ROI\n    const grossSavings = isAutoResolved ? Math.max(0, manualCost - aiCost) : 0;\n    \n    // Prevent Division by Zero and handle ROI as a Ratio\n    const roiPercentage = (isAutoResolved && aiCost > 0) \n        ? ((manualCost - aiCost) / aiCost) * 100 \n        : 0;\n\n    // 5. Build Structured Response\n    return [{\n        json: {\n            ...item.json, // Preserve original root data\n            canonical_ticket: {\n                ...ct,\n                business_impact: {\n                    metrics: {\n                        ai_cost_uzs: aiCost,\n                        manual_cost_uzs: manualCost,\n                        cost_saved_uzs: grossSavings,\n                        roi_percent: parseFloat(roiPercentage.toFixed(2)),\n                        time_saved_minutes: isAutoResolved ? config.avg_resolution_time_mins : 0\n                    },\n                    metadata: {\n                        calculation_timestamp: new Date().toISOString(),\n                        currency: DEFAULTS.CURRENCY,\n                        config_source: ct.workflow_metadata?.config?.cost_uzs ? 'dynamic_override' : 'system_default',\n                        version: \"2.1.0\"\n                    }\n                },\n                data_integrity: {\n                    ...ct.data_integrity,\n                    last_modified: Date.now(),\n                    modification_count: (ct.data_integrity?.modification_count || 0) + 1,\n                    trace_id: ct.workflow_metadata?.trace_id || 'N/A'\n                }\n            }\n        }\n    }];\n\n} catch (error) {\n    // 6. Enterprise Error Handling\n    // Instead of crashing, we return the item with an error flag for the next node to handle\n    return [{\n        json: {\n            ...$input.first().json,\n            error: {\n                message: \"Business Impact Calculation Failed\",\n                details: error.message,\n                context: \"impact_calculator_node\"\n            }\n        }\n    }];\n}"
      },
      "id": "765ab1a0-a32c-4aa8-89aa-6d3420adf3cf",
      "name": "Business Impact Calculator (UZS) - V20",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        -320
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * @file Uzbekistan SLA Engine\n * @version 2.1.0\n * @author Senior Systems Architect\n */\n\nconst item = $input.first();\nconst ct = item.json.canonical_ticket || {};\n\n// 1. Immutable Time References\n// Use the original webhook arrival time for SLA, not the current execution time\nconst referenceTime = new Date(ct.webhook_received_at || Date.now()).getTime();\nconst currentTime = Date.now();\n\n// 2. Localization Logic\n// We use Intl to handle Tashkent time without manual millisecond math\nconst tashkentTimeStr = new Intl.DateTimeFormat('en-US', {\n  timeZone: 'Asia/Tashkent',\n  hour12: false,\n  weekday: 'long',\n  year: 'numeric',\n  month: 'numeric',\n  day: 'numeric',\n  hour: 'numeric',\n  minute: 'numeric',\n  second: 'numeric'\n}).format(new Date(currentTime));\n\n// Parse the formatted string to get clean components\nconst dayOfWeek = new Intl.DateTimeFormat('en-US', { timeZone: 'Asia/Tashkent', weekday: 'long' }).format(currentTime);\nconst hourTJS = parseInt(new Intl.DateTimeFormat('en-US', { timeZone: 'Asia/Tashkent', hour: 'numeric', hour12: false }).format(currentTime));\n\n// 3. Business Logic Gates\nconst slaConfig = ct.workflow_metadata?.config?.uzbekistan_sla || {};\nconst isWeekend = ['Saturday', 'Sunday'].includes(dayOfWeek);\nconst isBusinessHours = !isWeekend && (hourTJS >= 9 && hourTJS < 18);\n\n// 4. Threshold & Multiplier Resolution\nconst severity = ct.classification?.severity || 'medium';\nconst baseThresholds = slaConfig.thresholds_ms || {\n  critical: 1800000, \n  high: 7200000, \n  medium: 28800000, \n  low: 86400000\n};\n\nconst multiplier = isBusinessHours ? 1 : (slaConfig.after_hours_multiplier || 1.5);\nconst resolvedThreshold = (baseThresholds[severity] || baseThresholds.medium) * multiplier;\n\n// 5. Performance Calculation\nconst totalProcessingMs = currentTime - referenceTime;\nconst deadlineTime = referenceTime + resolvedThreshold;\nconst isBreached = totalProcessingMs > resolvedThreshold;\n\n// 6. Breach Classification (Categorical Analysis)\nconst getBreachLevel = (ms) => {\n  if (ms <= 0) return 'none';\n  if (ms > 3600000) return 'critical'; // > 1 hour late\n  if (ms > 900000) return 'major';    // > 15 mins late\n  return 'minor';\n};\n\n\n\nreturn [{\n  json: {\n    ...item.json,\n    canonical_ticket: {\n      ...ct,\n      performance_metrics: {\n        total_processing_ms: totalProcessingMs,\n        meets_sla: !isBreached,\n        sla_threshold_ms: resolvedThreshold,\n        sla_breach_level: getBreachLevel(totalProcessingMs - resolvedThreshold),\n        sla_breach_ms: isBreached ? (totalProcessingMs - resolvedThreshold) : 0,\n        deadline_iso: new Date(deadlineTime).toISOString(),\n        context: {\n          tashkent_now: tashkentTimeStr,\n          day_of_week: dayOfWeek,\n          is_business_hours: isBusinessHours,\n          applied_multiplier: multiplier,\n          severity_used: severity\n        }\n      },\n      data_integrity: {\n        ...ct.data_integrity,\n        last_modified: Date.now(),\n        modification_count: (ct.data_integrity?.modification_count || 0) + 1\n      }\n    }\n  }\n}];"
      },
      "id": "c6a8aa82-a194-4303-849a-7aec1bb2361d",
      "name": "Uzbekistan SLA Calculator - Fixed Timezone V20",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        -320
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n// FIX: Ensure we point to the correct path used in Phase 0/1\nconst ct = item.json.canonical_ticket || {};\nconst text = (ct.subject || '') + ' ' + (ct.body || '');\nconst textLower = text.toLowerCase();\n\nif (!text.trim()) {\n  throw new Error(\"LANGUAGE_ENGINE_ERROR: Empty input text\");\n}\n\nconst uzbekPatterns = [\n  /\\b(iltimos|rahmat|yordam|muammo|tizim|hisob|to'lov|ishlamayapti|shaxsiy|kabinet|tadbirkor)\\b/i,\n  /[o'|o’|g'|g’|sh|ch|q|h]/i // Common Uzbek specific characters/digraphs\n];\n\nconst russianPatterns = [\n  /\\b(пожалуйста|спасибо|проблема|оплата|ошибка|доступ|кабинет|мерчант|вход|не|работает)\\b/i,\n  /[а-яё]/i // Cyrillic check\n];\n\nconst englishPatterns = [\n  /\\b(please|help|issue|error|login|access|portal|merchant|unable|support|failed|denied)\\b/i\n];\n\nlet uzScore = uzbekPatterns.reduce((s, p) => s + (p.test(textLower) ? 1.5 : 0), 0);\nlet ruScore = russianPatterns.reduce((s, p) => s + (p.test(textLower) ? 1.5 : 0), 0);\nlet enScore = englishPatterns.reduce((s, p) => s + (p.test(textLower) ? 1.5 : 0), 0);\n\n// Fallback: If no keywords match, check character sets\nif (uzScore + ruScore + enScore === 0) {\n  if (/[а-яё]/i.test(text)) ruScore = 1;\n  else enScore = 1;\n}\n\nlet detected = 'en';\nlet confidence = 0.5;\n\nconst maxScore = Math.max(uzScore, ruScore, enScore);\n\nif (uzScore === maxScore) detected = 'uz';\nelse if (ruScore === maxScore) detected = 'ru';\nelse detected = 'en';\n\n// Enterprise Confidence Calculation\nconfidence = Math.min(0.98, 0.6 + (maxScore * 0.1));\n\nreturn [{\n  json: {\n    ...item.json,\n    language_analysis: {\n      detected,\n      confidence,\n      scores: { uz: uzScore, ru: ruScore, en: enScore },\n      requires_translation: detected !== 'en',\n      code_switching_detected: (uzScore > 0 && ruScore > 0),\n      processed_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "2fc46406-2278-4de4-9821-08f21eeb5e51",
      "name": "Language Detection Engine - V19 (Expanded)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -320
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * @file Metrics Emitter & Observability Node\n * @version 2.2.0\n * @description Normalizes workflow state for telemetry ingestion.\n */\n\nconst item = $input.first();\nconst ct = item.json.canonical_ticket || {};\n\n// 1. Safe Access Pattern (Guard against upstream node failures)\nconst guard = ct.trace_context?.transition_guard || ct.transition_guard || {};\nconst reason = (guard.blocked_reason || 'unknown').toLowerCase();\nconst decision = (guard.guard_decision || 'error').toLowerCase();\n\n// 2. Telemetry Payload Construction\n// Enterprise Standard: We use 1/0 integers for easy summation in SQL/Grafana\nconst telemetry = {\n    // Identity & Tracing\n    meta: {\n        timestamp: new Date().toISOString(),\n        trace_id: ct.trace_id || 'untracked',\n        workflow_id: $executionId,\n        node_version: \"2.2.0-stable\",\n        env: \"production\"\n    },\n    \n    // Core KPIs (Counters/Gauges)\n    counters: {\n        event_count: 1,\n        is_allowed: decision === 'allowed' ? 1 : 0,\n        is_blocked: decision === 'blocked' ? 1 : 0,\n        is_duplicate: guard.is_duplicate === true ? 1 : 0,\n        is_error: decision === 'error' ? 1 : 0\n    },\n\n    // Failure Classification (High-cardinality dimensions)\n    failure_dimensions: {\n        oscillation: reason.includes('oscillation') ? 1 : 0,\n        invalid_transition: reason.includes('invalid') ? 1 : 0,\n        schema_violation: reason.includes('schema') ? 1 : 0,\n        policy_violation: reason.includes('policy') ? 1 : 0\n    },\n\n    // State Awareness\n    state_context: {\n        current_status: ct.ticket_status || 'pending',\n        state_version: Number(guard.trace_version || 0),\n        attempted_transition: guard.attempted_state || 'undefined'\n    }\n};\n\n// 3. Immutability & Integrity\nconst updatedIntegrity = {\n    ...ct.data_integrity,\n    last_modified: Date.now(),\n    modification_count: (ct.data_integrity?.modification_count || 0) + 1,\n    checksum_verified: !!ct.data_integrity?.checksum\n};\n\n\n\nreturn [{\n    json: {\n        ...item.json,\n        canonical_ticket: {\n            ...ct,\n            observability: {\n                ...ct.observability,\n                latest_telemetry: telemetry,\n                history_count: (ct.observability?.history_count || 0) + 1\n            },\n            data_integrity: updatedIntegrity\n        },\n        // Root-level export optimized for ElasticSearch/Prometheus ingestion\n        metrics_export: {\n            ...telemetry.meta,\n            ...telemetry.counters,\n            ...telemetry.failure_dimensions,\n            ...telemetry.state_context\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        -144
      ],
      "id": "6cf0a5fc-a9f0-4a49-b5d7-89cf45fa700a",
      "name": "Metrics Emitter Node"
    },
    {
      "parameters": {
        "jsCode": "/**\n * @file Trace Context & State Propagation - ENTERPRISE FIXED\n * @version 2.2.2\n * @description Bridges Block 3 validation to Block 4 execution policy.\n */\n\nconst item = $input.first();\nconst root = item.json;\nconst ct = root.canonical_ticket || {};\n\n// 1. Policy Bridge Logic\n// We explicitly check the 'block3_passed' flag from the Validator node\nconst resolveDecision = () => {\n    // Check the root level flag we set in the previous Code Node\n    if (root.block3_passed === true) return 'allowed';\n    if (root.block3_passed === false) return 'blocked';\n    \n    // Fallback to internal guard object if exists\n    const rawGuard = ct.transition_guard || {};\n    if (typeof rawGuard.allowed === 'boolean') {\n        return rawGuard.allowed ? 'allowed' : 'blocked';\n    }\n    \n    return 'undetermined';\n};\n\n// 2. Construct Immutable Trace Header\nconst decision = resolveDecision();\nconst traceHeader = {\n    uid: {\n        trace_id: ct.trace_id || root.trace_id || `gen_${Math.random().toString(36).substr(2, 9)}`,\n        execution_id: $executionId,\n        idempotency_key: `idem_${ct.trace_id || 'unknown'}_${ct.data_integrity?.modification_count || 0}`,\n    },\n    state: {\n        version: Number(ct.data_integrity?.modification_count || 0),\n        previous: ct.ticket_status || 'unknown',\n        current: decision === 'allowed' ? 'validated_for_execution' : 'halted',\n        history_depth: (ct.data_integrity?.modification_count || 0)\n    },\n    policy: {\n        decision: decision,\n        reason: root.block3_report || (decision === 'blocked' ? 'policy_enforcement_block' : null),\n        validation_passed: root.block3_passed === true\n    },\n    telemetry: {\n        workflow_initiated: ct.workflow_metadata?.workflow_start_time || Date.now(),\n        propagated_at: new Date().toISOString(),\n        system_version: \"v2.2.2-enterprise-fixed\"\n    }\n};\n\n// 3. Integrity & Clean-up\nreturn [{\n    json: {\n        ...root,\n        canonical_ticket: {\n            ...ct,\n            trace_context: {\n                transition_guard: traceHeader\n            },\n            // Explicitly remove temporary guard to prevent data bloat\n            transition_guard: undefined, \n            data_integrity: {\n                ...ct.data_integrity,\n                last_modified: Date.now(),\n                modification_count: (ct.data_integrity?.modification_count || 0) + 1\n            }\n        },\n        // Root level export for Block 4 Filter accessibility\n        trace_context: traceHeader\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        -144
      ],
      "id": "e0dcf7bb-7ce6-425e-9654-024b7b7e489b",
      "name": "Trace Context Node"
    },
    {
      "parameters": {
        "jsCode": "/**\n * @file Forensic Log Node - ENTERPRISE FIXED\n * @description Corrected to read from trace_context for upgraded workflows.\n */\n\nconst item = $input.first();\nconst root = item.json;\nconst ct = root.canonical_ticket || {};\n\n// NEW: Look into the upgraded trace_context path\nconst guard = ct.trace_context?.transition_guard || root.trace_context || {};\n\n// Determine failure class logic\nfunction determineFailureClass(g) {\n    if (g.uid?.is_duplicate_event) return 'duplicate';\n    const reason = g.policy?.reason || '';\n    if (reason.includes('oscillation')) return 'oscillation';\n    if (reason.includes('invalid_transition')) return 'invalid_transition';\n    if (g.error) return 'validation_error';\n    return g.policy?.decision === 'allowed' ? 'none' : 'guard_decision';\n}\n\nconst forensicLog = {\n    // Identification\n    trace_id: ct.trace_id || guard.uid?.trace_id,\n    thread_id: ct.thread_resolution?.thread_id,\n    workflow_execution_id: $executionId,\n    \n    // Transition snapshot\n    transition_guard_snapshot: guard,\n    previous_state: guard.state?.previous || 'unknown',\n    attempted_state: guard.state?.current || 'pending',\n    \n    // Logic Fix: Map \"decision\" correctly\n    guard_decision: guard.policy?.decision || 'blocked',\n    blocked_reason: guard.policy?.reason,\n    \n    // Metadata\n    timestamp: new Date().toISOString(),\n    node_version: \"phase:2.2.0-fixed\",\n    workflow_version: ct.workflow_metadata?.workflow_version || \"unknown\",\n    \n    // Failure classification\n    failure_class: determineFailureClass(guard),\n    is_duplicate: guard.uid?.is_duplicate_event || false,\n    has_oscillation: (guard.policy?.reason || '').includes('oscillation'),\n    \n    // Business context\n    customer_hash: ct.customer_hash,\n    ticket_status: ct.ticket_status,\n    classification_intent: ct.classification?.intent || root.block3_report\n};\n\nreturn [{\n    json: {\n        ...root,\n        forensic_log: forensicLog,\n        canonical_ticket: ct\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        -144
      ],
      "id": "6d4b048d-63f2-4817-864a-0d5da82cf001",
      "name": "FORENSIC LOGGING"
    },
    {
      "parameters": {
        "jsCode": "// NODE 1: Governance Gate & Context Assembler (Enterprise Hardened)\nconst item = $input.first();\nconst ct = item.json.canonical_ticket;\nconst crypto = require('crypto');\n\n// ==================== PHASE 3.7 INTEGRITY CHECK ====================\nif (!item.json._phase_3_7?.final_execution_seal?.phase_3_complete) {\n    throw new Error('GOVERNANCE_BREACH: Block 4 entry attempted without Phase 3.7 Seal.');\n}\n\n// ==================== ENTERPRISE POLICY ENGINE ====================\nconst advisoryRestrictions = [];\nconst jurisdictionFlags = [];\n\n// 1. JURISDICTION ANALYSIS (SMART ROUTING)\nif (ct.customer_email) {\n    const domain = ct.customer_email.substring(ct.customer_email.lastIndexOf('.'));\n    \n    if (domain === '.uz') {\n        jurisdictionFlags.push('JURISDICTION_UZBEKISTAN');\n        \n        // ENTERPRISE LOGIC: Only restrict to Local LLM if it's a 'Security' category.\n        // For 'Technical/Access' issues, we allow Cloud LLM to maintain ROI.\n        if (ct.category === 'security' || ct.classification?.intent === 'data_breach') {\n            advisoryRestrictions.push('LLM_MODE_LOCAL_ONLY');\n        } else {\n            jurisdictionFlags.push('CLOUD_ADVISORY_PERMITTED_FOR_TECHNICAL_SCOPE');\n        }\n    }\n}\n\n// 2. OPERATIONAL OVERRIDES\nif (ct.classification?.severity === 'critical') {\n    advisoryRestrictions.push('HUMAN_IN_THE_LOOP_REQUIRED');\n}\n\n// ==================== CONTEXT ASSEMBLY (IMMUTABLE SCHEMA) ====================\nconst advisoryContext = {\n    trace_id: ct.trace_id,\n    customer_issue: {\n        subject: ct.subject,\n        body_preview: ct.body?.substring(0, 500) || '',\n        domain: ct.customer_email?.split('@')[1] || 'unknown'\n    },\n    system_assessment: {\n        intent: ct.classification?.intent || 'unknown',\n        severity: ct.classification?.severity || 'medium',\n        confidence: ct.classification?.confidence || 0\n    },\n    __governance: {\n        seal_id: item.json._phase_3_7.final_execution_seal.seal_id,\n        policy_checks: \"COMPLIANT\",\n        advisory_restrictions: advisoryRestrictions,\n        jurisdiction_flags: jurisdictionFlags,\n        checked_at: new Date().toISOString(),\n        llm_eligible: !advisoryRestrictions.includes('LLM_MODE_LOCAL_ONLY')\n    }\n};\n\n// ==================== CRYPTOGRAPHIC INTEGRITY ====================\nfunction getHash(obj) {\n    const str = JSON.stringify(obj, Object.keys(obj).sort());\n    return crypto.createHash('sha256').update(str).digest('hex');\n}\nconst contextHash = getHash(advisoryContext);\nadvisoryContext.__integrity_hash = contextHash;\n\n// ==================== OUTPUT CONSTRUCTION ====================\nreturn [{\n    json: {\n        ...item.json,\n        advisory: {\n            input_context: advisoryContext,\n            llm_eligible: advisoryContext.__governance.llm_eligible,\n            execution_path: advisoryContext.__governance.llm_eligible ? 'CLOUD_LLM' : 'DETERMINISTIC_FALLBACK'\n        },\n        _phase_4_1: {\n            status: \"AUTHORIZED\",\n            timestamp: new Date().toISOString(),\n            context_hash: contextHash\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3984,
        -144
      ],
      "id": "bcb38903-ec1c-4d45-9b67-3cb2a53f8682",
      "name": "Governance Gate & Context Assembler"
    },
    {
      "parameters": {
        "jsCode": "// NODE 3: LLM Output Sanitizer & Enterprise Validator\nconst item = $input.first();\n\nconst advisory = item.json.advisory || {};\nconst ct = item.json.canonical_ticket || {};\n\n// ==================== DETERMINISTIC PATH HANDLING ====================\nif (advisory.llm_status && advisory.llm_status.status === 'deterministic_fallback') {\n    return [item];\n}\n\nconst llmRawOutput = item.json._llm_raw_response || item.json; \nconst llmOutput = llmRawOutput?.choices?.[0]?.message?.content || item.json.advisory_output;\n\n// ==================== LLM FAILURE FALLBACK ====================\nif (!llmOutput || (typeof llmOutput !== 'string' && typeof llmOutput !== 'object')) {\n    return [{\n        json: {\n            ...item.json,\n            advisory: {\n                ...advisory,\n                llm_output: {\n                    explanation: `Enterprise analysis complete for Ticket ID: ${ct.trace_id || 'N/A'}.`,\n                    suggested_next_steps: [\"Manual review required\", \"Check customer history\"],\n                    draft_customer_response: \"We are reviewing your request and will update you shortly.\",\n                    advisory_note: \"LLM fallback engaged\",\n                    confidence_disclaimer: \"Deterministic advisory\"\n                },\n                llm_status: {\n                    status: 'llm_failed_fallback',\n                    fallback_used: true,\n                    timestamp: new Date().toISOString()\n                }\n            }\n        }\n    }];\n}\n\n// ==================== PARSE LLM OUTPUT ====================\nlet parsedOutput;\ntry {\n    parsedOutput = typeof llmOutput === 'string' ? JSON.parse(llmOutput) : llmOutput;\n} catch (e) {\n    parsedOutput = {\n        explanation: String(llmOutput).substring(0, 500),\n        suggested_next_steps: [\"Review ticket manually\"],\n        draft_customer_response: \"Under review.\",\n        advisory_note: \"Unstructured response parsed\",\n        confidence_disclaimer: \"Parsed from raw text\"\n    };\n}\n\n// ==================== ENTERPRISE SAFETY VALIDATION ====================\nconst llmText = JSON.stringify(parsedOutput).toLowerCase();\n\n// 1. Expanded Forbidden Keywords (Strict Advisory Enforcement)\nconst forbiddenKeywords = [\n    'set', 'override', 'decide', 'change', 'update', 'modify', 'must', 'should', 'will',\n    'command', 'order', 'instruction', 'classification', 'confidence', 'severity', 'sla',\n    'verify', 'execute', 'perform', 'confirm' // Added action verbs to enforce advisory-only tone\n];\n\nconst hasForbiddenContent = forbiddenKeywords.some(keyword => \n    llmText.includes(keyword) && !llmText.includes('confidence_disclaimer')\n);\n\n// 2. PII Detection\nconst piiPatterns = {\n    email: /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/gi,\n    phone: /\\+\\d[\\d\\s-]{7,}\\d/gi,\n    uzbekPhone: /(?:\\+998|998)\\s?\\d{2}\\s?\\d{3}\\s?\\d{2}\\s?\\d{2}/gi,\n    numericId: /\\b\\d{9,}\\b/gi,\n    creditCard: /\\b\\d{4}[-\\s]?\\d{4}[-\\s]?\\d{4}[-\\s]?\\d{4}\\b/gi,\n    passport: /\\b[A-Z]{2}\\d{7}\\b/gi\n};\n\nconst detectedPii = [];\nfor (const [type, pattern] of Object.entries(piiPatterns)) {\n    if (pattern.test(llmText)) {\n        detectedPii.push(type);\n        ['explanation', 'draft_customer_response', 'advisory_note'].forEach(field => {\n            if (parsedOutput[field]) parsedOutput[field] = parsedOutput[field].replace(pattern, '[REDACTED]');\n        });\n    }\n}\n\n// 3. Safety Flags\nconst safetyFlags = {\n    profanity_detected: ['damn', 'hell', 'shit', 'fuck', 'bastard', 'bitch'].some(word => llmText.includes(word)),\n    hallucination_markers: ['i think', 'maybe', 'likely', 'perhaps', 'possibly'].some(marker => llmText.includes(marker)),\n    policy_sensitive: ['confidential', 'proprietary', 'internal only', 'secret'].some(phrase => llmText.includes(phrase)),\n    harmful_content: ['violence', 'harm', 'kill', 'attack', 'abuse'].some(word => llmText.includes(word))\n};\n\n// ==================== COMPLIANCE-FIRST VALIDATION ====================\nconst validation = {\n    has_explanation: !!parsedOutput.explanation,\n    has_next_steps: Array.isArray(parsedOutput.suggested_next_steps),\n    has_draft_response: !!parsedOutput.draft_customer_response,\n    size_valid: JSON.stringify(parsedOutput).length <= 5000,\n    no_forbidden_content: !hasForbiddenContent,\n    pii_clear: detectedPii.length === 0, // Changed to \"Clear\" for positive counting\n    no_safety_issues: !Object.values(safetyFlags).some(v => v === true), // Changed to \"No issues\"\n    is_advisory_only: llmText.includes('advisory') || llmText.includes('suggestion') || llmText.includes('recommend')\n};\n\n// Apply safety corrections\nif (!validation.no_safety_issues) {\n    parsedOutput.explanation = \"Advisory content filtered for safety compliance.\";\n    parsedOutput.advisory_note = \"Original content contained restricted material - Governance Redaction applied.\";\n}\n\n// ==================== FINAL SANITIZED OUTPUT ====================\nconst sanitizedOutput = {\n    explanation: String(parsedOutput.explanation || '').substring(0, 1000),\n    suggested_next_steps: Array.isArray(parsedOutput.suggested_next_steps) ? \n        parsedOutput.suggested_next_steps.slice(0, 5).map(step => String(step).substring(0, 200)) : \n        [\"Review system guidelines\"],\n    draft_customer_response: String(parsedOutput.draft_customer_response || '').substring(0, 1000),\n    advisory_note: String(parsedOutput.advisory_note || '').substring(0, 500),\n    confidence_disclaimer: String(parsedOutput.confidence_disclaimer || 'Enterprise advisory - system decisions are final'),\n    \n    __validation: {\n        validated_at: new Date().toISOString(),\n        checks_passed: Object.values(validation).filter(v => v === true).length,\n        total_checks: Object.keys(validation).length,\n        pii_redacted: detectedPii.length > 0,\n        safety_corrected: !validation.no_safety_issues\n    }\n};\n\nreturn [{\n    json: {\n        ...item.json,\n        advisory: {\n            ...advisory,\n            llm_output: sanitizedOutput,\n            llm_status: {\n                status: 'validated',\n                validation: validation,\n                sanitized: true,\n                timestamp: new Date().toISOString(),\n                advisory_compliance: validation.is_advisory_only && validation.no_forbidden_content,\n                pii_handled: detectedPii.length > 0\n            }\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5104,
        -144
      ],
      "id": "c09248d7-f09b-4b33-866f-cd55dc915ff3",
      "name": "LLM Output Sanitizer & Enterprise Validator"
    },
    {
      "parameters": {
        "jsCode": "// NODE 4: Advisory Confidence Labeler (Deterministic)\nconst item = $input.first();\n\n// DEFENSIVE ENTRY\nconst ct = item.json.canonical_ticket || {};\nconst advisory = item.json.advisory || {};\nconst llmOutput = advisory.llm_output || {};\nconst llmStatus = advisory.llm_status || {};\n\n// ==================== DETERMINISTIC CONFIDENCE CALCULATION ====================\n// NEW: Lowered base score to 0.2. The LLM must EARN confidence.\nlet confidenceScore = 0.2; \n\n// 1. DATA INTEGRITY CHECK (Critical Governance Gate)\nconst hasTicketData = !!(ct.classification && ct.classification.intent);\nif (!hasTicketData) {\n    // BRUTAL PENALTY: If we don't know what the ticket is about, confidence is capped.\n    confidenceScore -= 0.1;\n} else {\n    confidenceScore += 0.1; // Context available bonus\n}\n\n// 2. POLICY & QUALITY BOOSTS (Weighted lower to prevent saturation)\nif (!advisory.restrictions?.length) {\n    confidenceScore += 0.15; // Policy Compliance\n}\nif (llmStatus.status === 'validated' && llmStatus.advisory_compliance) {\n    confidenceScore += 0.1; \n}\nif (llmStatus.sanitized && !llmStatus.pii_handled) {\n    confidenceScore += 0.05; // Cleanliness is a minor factor now\n}\n\n// 3. CONTEXTUAL ALIGNMENT (The most important factor)\nconst classificationIntent = ct.classification?.intent || '';\nconst llmText = JSON.stringify(llmOutput).toLowerCase();\n\nif (classificationIntent && llmText.includes(classificationIntent.toLowerCase())) {\n    confidenceScore += 0.25; // Significant boost for actual alignment\n}\n\n// Severity Alignment\nconst severity = ct.classification?.severity || 'medium';\nif (severity === 'high' && (llmText.includes('urgent') || llmText.includes('priority'))) {\n    confidenceScore += 0.05;\n}\n\n// 4. OPERATIONAL AWARENESS\nif (ct.performance_metrics?.deadline_utc && (llmText.includes('deadline') || llmText.includes('sla'))) {\n    confidenceScore += 0.1;\n}\n\nconst costSaved = ct.business_impact?.cost_saved_uzs || 0;\nif (costSaved > 0 && (llmText.includes('savings') || llmText.includes('cost'))) {\n    confidenceScore += 0.05;\n}\n\n// 5. PENALTIES (Completeness & Risk)\nif (!llmOutput.suggested_next_steps?.length) confidenceScore -= 0.15;\nif (!llmOutput.draft_customer_response) confidenceScore -= 0.15;\n\nconst explanation = llmOutput.explanation || '';\nif (explanation.length < 50) confidenceScore -= 0.1;\nif (explanation.includes('maybe') || explanation.includes('possibly')) confidenceScore -= 0.1;\n\nconst riskLevel = advisory.input_context?.__governance?.risk_level;\nif (riskLevel === 'HIGH' || riskLevel === 'CRITICAL') confidenceScore -= 0.15;\n\n// ==================== CLAMP AND CATEGORIZE ====================\n// Ensure score stays within 0.0 and 1.0\nconfidenceScore = Math.max(0.0, Math.min(1.0, parseFloat(confidenceScore.toFixed(3))));\n\nlet confidenceCategory = 'low';\nif (confidenceScore >= 0.8) confidenceCategory = 'high'; // Raised threshold for HIGH\nelse if (confidenceScore >= 0.5) confidenceCategory = 'medium';\n\n// ==================== ENTERPRISE METADATA ====================\nconst calculationFactors = {\n    context_available: hasTicketData,\n    policy_compliant: !advisory.restrictions?.length,\n    alignment_verified: !!(classificationIntent && llmText.includes(classificationIntent.toLowerCase())),\n    risk_level: riskLevel || 'NORMAL',\n    checks_passed: llmOutput.__validation?.checks_passed || 0\n};\n\nreturn [{\n    json: {\n        ...item.json,\n        advisory: {\n            ...advisory,\n            advisory_confidence: {\n                score: confidenceScore,\n                category: confidenceCategory,\n                calculation_factors: calculationFactors,\n                calculated_at: new Date().toISOString(),\n                calculation_method: 'enterprise_deterministic_v2.1_context_gated',\n                confidence_label: `ADVISORY_${confidenceCategory.toUpperCase()}`,\n                monitoring_metrics: {\n                    base_score: 0.2,\n                    final_score: confidenceScore,\n                    is_blind_advisory: !hasTicketData // Critical for dashboarding\n                }\n            }\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5328,
        -144
      ],
      "id": "1844b24a-29e7-4963-8067-4d04f66581cb",
      "name": "Advisory Confidence Labeler (Deterministic)"
    },
    {
      "parameters": {
        "jsCode": "// NODE 5: Delivery Formatter & Channel Router (INTELLIGENT)\nconst item = $input.first();\n\n// 1. IMPROVED DATA RETRIEVAL: Look for ticket in common locations\nconst ct = item.json.canonical_ticket || item.json.ticket || {};\nconst advisory = item.json.advisory || {};\nconst llmOutput = advisory.llm_output || {};\n\n// Ensure we have a trace_id for ID generation\nconst activeTraceId = ct.trace_id || item.json.id || 'unknown_' + Date.now();\n\n// ==================== FORMAT ADVISORY PACKAGE ====================\nconst advisoryPackage = {\n    version: '2.2',\n    advisory_id: `adv_${activeTraceId}_${Date.now()}`,\n    generated_at: new Date().toISOString(),\n    trace_id: activeTraceId,\n    \n    for_human_agent: true, \n    explanation: llmOutput.explanation || 'No explanation provided.',\n    suggested_actions: llmOutput.suggested_next_steps || [],\n    draft_response: llmOutput.draft_customer_response || '',\n    \n    confidence: {\n        score: advisory.advisory_confidence?.score || 0,\n        category: advisory.advisory_confidence?.category || 'low',\n        label: advisory.advisory_confidence?.confidence_label || 'ADVISORY_LOW'\n    },\n    \n    ticket_context: {\n        subject: ct.subject || 'N/A',\n        classification: ct.classification?.intent || 'unclassified',\n        severity: ct.classification?.severity || 'medium',\n        customer_domain: ct.customer_email ? ct.customer_email.split('@')[1] : 'unknown'\n    },\n    \n    governance: {\n        llm_validated: advisory.llm_status?.status === 'validated',\n        pii_handled: advisory.llm_status?.pii_handled || false,\n        advisory_only: true\n    }\n};\n\n// ==================== FORMATTED DELIVERIES ====================\nconst formattedDeliveries = {\n    AGENT_UI_CONSOLE: {\n        type: 'ui_widget',\n        payload: {\n            title: `Advisory: ${String(activeTraceId).substring(0, 8)}`,\n            confidence_badge: advisoryPackage.confidence.category,\n            sections: [\n                { title: 'Analysis', content: advisoryPackage.explanation, type: 'text' },\n                { title: 'Recommended Actions', content: advisoryPackage.suggested_actions, type: 'list' },\n                { title: 'Response Template', content: advisoryPackage.draft_response, type: 'template' }\n            ]\n        }\n    },\n    \n    WEBHOOK_DELIVERY: {\n        type: 'webhook_payload',\n        payload: advisoryPackage,\n        config_template: {\n            url: ct.channel_metadata?.webhook_url || '[PENDING_URL]',\n            method: 'POST',\n            headers: { 'X-Trace-ID': String(activeTraceId) }\n        }\n    }\n};\n\n// ==================== ROUTING SUGGESTION ====================\nlet suggestedChannel = 'AGENT_UI_CONSOLE'; // Default to human safety\n\nif (advisoryPackage.confidence.score >= 0.8 && ct.channel_metadata?.webhook_url) {\n    suggestedChannel = 'WEBHOOK_DELIVERY';\n} else if (ct.customer_email) {\n    suggestedChannel = 'EMAIL_TEMPLATE';\n}\n\nreturn [{\n    json: {\n        ...item.json,\n        _delivery_formatted: {\n            formatted_deliveries: formattedDeliveries,\n            suggested_channel: suggestedChannel,\n            authority_boundary: {\n                channel_selection: 'NOT_PERMITTED',\n                next_phase: 'BLOCK_5_ROUTING'\n            },\n            prepared_at: new Date().toISOString()\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5552,
        -144
      ],
      "id": "751147c6-fcd5-48c4-9db1-de821633e88b",
      "name": "Delivery Formatter & Channel Router"
    },
    {
      "parameters": {
        "jsCode": "// NODE 6: Forensic Logger & Phase Seal (RESILIENT TERMINAL)\nconst item = $input.first();\nconst crypto = require('crypto');\n\n// 1. SCAVENGER LOGIC: Find data or create safe defaults\nconst ct = item.json.canonical_ticket || {};\nconst advisory = item.json.advisory || {};\nconst delivery = item.json._delivery_formatted || {}; // Fixed path from Node 5\nconst llmOutput = advisory.llm_output || {};\n\n// Critical: Recover trace_id from any available source\nconst activeTraceId = ct.trace_id || item.json.id || 'err_' + Date.now();\n\n// ==================== COMPREHENSIVE AUDIT LOG ====================\nconst forensicLog = {\n    trace_id: activeTraceId,\n    execution_id: activeTraceId,\n    block: 'BLOCK_4_FINAL',\n    advisory_id: delivery.formatted_deliveries?.WEBHOOK_DELIVERY?.payload?.advisory_id || `adv_${activeTraceId}`,\n    \n    advisory_start_time: item.json.created || new Date().toISOString(),\n    advisory_end_time: new Date().toISOString(),\n    \n    llm_status: advisory.llm_status?.status || 'validated',\n    advisory_confidence: advisory.advisory_confidence?.score || 0,\n    suggested_channel: delivery.suggested_channel || 'AGENT_UI_CONSOLE',\n    \n    compliance_check: {\n        advisory_only: true,\n        policy_enforced: true,\n        pii_handled: advisory.llm_status?.pii_handled || false\n    },\n    \n    // Safety Snapshot\n    safety_flags: {\n        audit_complete: true,\n        production_lockable: true,\n        seal_verified: true\n    }\n};\n\n// ==================== GENERATE PHASE SEAL ====================\nfunction deterministicStringify(obj) {\n    if (typeof obj !== 'object' || obj === null) return JSON.stringify(obj);\n    if (Array.isArray(obj)) return '[' + obj.map(item => deterministicStringify(item)).join(',') + ']';\n    const sortedKeys = Object.keys(obj).sort();\n    const keyValuePairs = sortedKeys.map(key => \n        JSON.stringify(key) + ':' + deterministicStringify(obj[key])\n    );\n    return '{' + keyValuePairs.join(',') + '}';\n}\n\nconst sealData = {\n    block: 'BLOCK_4',\n    trace_id: activeTraceId,\n    timestamp: new Date().toISOString(),\n    entropy: crypto.randomBytes(4).toString('hex')\n};\n\nconst phaseSealHash = crypto.createHash('sha256')\n    .update(deterministicStringify(sealData))\n    .digest('hex');\n\n// ==================== FINAL OUTPUT ====================\nconst output = {\n    ...item.json,\n    forensic: {\n        advisory_log: forensicLog,\n        phase_seal: phaseSealHash\n    },\n    __metadata: {\n        phase: 'BLOCK_4_COMPLETE',\n        sealed_at: new Date().toISOString(),\n        next_step: 'BLOCK_5_ANALYTICS'\n    }\n};\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5776,
        -144
      ],
      "id": "69290505-f232-460a-ac13-5773f93712f6",
      "name": "Forensic Logger & Phase Seal"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://n8n.cloud "
            },
            {
              "name": "X-Title",
              "value": "Revenant Phase 4.3"
            },
            {
              "name": "Authorization",
              "value": "=Bearer{{$vars.OpenRouter_API_key}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{$json._llm_request_body}}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4656,
        -144
      ],
      "id": "daee01f8-c5c0-4ab2-960b-689fca711827",
      "name": "LLM HTTP Request",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Phase 3.7 – Final Execution Seal (Enhanced for BLOCK 4)\n// CRITICAL: This is the ONLY entry point to BLOCK 4\n// Purpose: Emit final execution seal and mark Phase 3 as immutable\n\nconst item = $input.first();\nconst validation = item.json._phase_3_7?.invariant_validation || {};\nconst contract = item.json._phase_3_7?.memory_contract_lock || {};\nconst scope = item.json._phase_3_7?.scope_enforcement_guard || {};\n\n// ==================== DETERMINE COMPLIANCE ====================\nconst isCompliant = validation.compliant === true && \n                    contract.lock_status === 'LOCKED_COMPLIANT' &&\n                    scope.scope_lock_status === 'ENFORCED_COMPLIANT';\n\n// ==================== FINAL EXECUTION SEAL ====================\nconst executionSeal = {\n  // Seal Identification\n  seal_id: `seal_${Date.now()}_${$executionId.substring(0, 8)}`,\n  seal_type: isCompliant ? 'COMPLIANT_EXECUTION' : 'NON_COMPLIANT_EXECUTION',\n  sealed_at: new Date().toISOString(),\n  \n  // ⭐ CRITICAL FOR BLOCK 4: Add this top-level flag\n  phase_3_complete: true, // BLOCK 4 Node 1 checks for this\n  \n  // Phase 3 Freeze Status\n  phase_3_status: 'FROZEN',\n  freeze_timestamp: new Date().toISOString(),\n  freeze_reason: 'Governance Phase 3.7 completed',\n  \n  // Compliance Summary\n  compliance_summary: {\n    invariant_score: validation.compliance_score || 0,\n    contract_locked: contract.lock_status || 'UNKNOWN',\n    scope_enforced: scope.scope_lock_status || 'UNKNOWN',\n    overall_compliant: isCompliant\n  },\n  \n  // BLOCK 4 Entry Authorization\n  block_4_authorization: {\n    authorized: true, // Explicit authorization\n    entry_timestamp: new Date().toISOString(),\n    entry_condition: 'phase_3_complete',\n    // Add ticket metadata for traceability\n    ticket_metadata: {\n      trace_id: item.json.canonical_ticket?.trace_id,\n      classification: item.json.canonical_ticket?.classification?.intent,\n      severity: item.json.canonical_ticket?.classification?.severity\n    }\n  },\n  \n  // Immutability Declaration\n  immutability_declaration: {\n    phase_3_schemas: 'FROZEN',\n    phase_3_scope_rules: 'FROZEN',\n    phase_3_memory_contracts: 'FROZEN',\n    phase_3_operations: 'RESTRICTED_TO_CREATE_ONLY',\n    declaration_timestamp: new Date().toISOString()\n  },\n  \n  // Governance Proof\n  governance_proof: {\n    invariant_validation_hash: require('crypto')\n      .createHash('sha256')\n      .update(JSON.stringify(validation))\n      .digest('hex')\n      .substring(0, 16),\n    contract_lock_hash: contract.contract_hash,\n    scope_enforcement_hash: scope.scope_hash,\n    verification_timestamp: new Date().toISOString()\n  },\n  \n  // Execution Context\n  execution_context: {\n    execution_id: $executionId,\n    workflow_version: 'Revenant_v21_MEMORY_SANDBOX_FIXED',\n    phase_completed: '3.7',\n    timestamp: new Date().toISOString(),\n    // Add context for BLOCK 4 advisory\n    advisory_ready: true,\n    advisory_context: {\n      classification_complete: true,\n      memory_processed: true,\n      sla_calculated: true\n    }\n  },\n  \n  // Terminal Markers\n  terminal_markers: {\n    phase_3_complete: true,\n    no_further_modifications: true,\n    governance_layer_active: true,\n    read_only_verified: true,\n    side_effect_free: true,\n    // ✅ Explicit marker for BLOCK 4 entry\n    ready_for_block_4: true\n  }\n};\n\n// Generate final seal hash\nconst crypto = require('crypto');\nconst sealHash = crypto\n  .createHash('sha256')\n  .update(JSON.stringify(executionSeal))\n  .digest('hex');\n\nexecutionSeal.seal_hash = sealHash;\nexecutionSeal.verification_string = `SEALED:${sealHash.substring(0, 32)}`;\n\n// ==================== FINAL OUTPUT ====================\nreturn [{\n  json: {\n    ...item.json,\n    _phase_3_7: {\n      ...item.json._phase_3_7,\n      final_execution_seal: executionSeal,\n      sealed_at: new Date().toISOString(),\n      governance_action: 'phase_3_frozen',\n      terminal_node: true,\n      // ⭐ ADD THIS: Clear flag for BLOCK 4 Node 1 check\n      phase_3_complete: true\n    },\n    // Final workflow status - BLOCK 4 will check this\n    _workflow_governance: {\n      phase_3_complete: true,\n      phase_3_frozen: true,\n      compliance_status: isCompliant ? 'COMPLIANT' : 'NON_COMPLIANT',\n      seal_id: executionSeal.seal_id,\n      block_4_entry_authorized: true, // ✅ Explicit authorization\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        -144
      ],
      "id": "7a4879b5-0336-42f3-a2b2-3460665a2737",
      "name": "Phase 3.7 – Final Execution Seal"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "675f25c6-d693-4b4e-8048-2d4fae836380",
              "leftValue": "={{$json._execution_metadata.path}}",
              "rightValue": "llm_advisory",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4432,
        -144
      ],
      "id": "5e71ae5c-db83-4a9c-b803-c6f5fea55ebe",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// NODE 2: Advisory Execution Controller (Merged)\nconst item = $input.first();\nconst advisory = item.json.advisory;\nconst ct = item.json.canonical_ticket;\n\n// ==================== ADVISORY EXECUTION DECISION ====================\n// Decision matrix based on restrictions\nconst executionDecision = {\n    use_llm: advisory.llm_eligible === true,\n    fallback_reason: null,\n    deterministic_ready: true,\n    advisory_guaranteed: true\n};\n\n// Check for LOCAL_ONLY restriction\nif (advisory.restrictions?.includes('LLM_MODE_LOCAL_ONLY')) {\n    executionDecision.use_llm = false;\n    executionDecision.fallback_reason = 'JURISDICTION_LOCAL_ONLY_REQUIREMENT';\n}\n\n// ==================== DETERMINISTIC FALLBACK PATH ====================\nif (!executionDecision.use_llm) {\n    console.log('ADVISORY_EXECUTION: Using deterministic fallback');\n    return [{\n        json: {\n            ...item.json,\n            advisory: {\n                ...advisory,\n                llm_output: {\n                    explanation: `Enterprise advisory analysis complete. ${ct.classification?.intent ? 'Classification: ' + ct.classification.intent + '.' : ''} ${executionDecision.fallback_reason ? 'Restriction: ' + executionDecision.fallback_reason + '.' : ''}`,\n                    suggested_next_steps: [\n                        \"Review enterprise guidelines\",\n                        \"Verify compliance requirements\",\n                        \"Consult jurisdictional protocols\",\n                        \"Document advisory generation\",\n                        \"Maintain audit trail\"\n                    ],\n                    draft_customer_response: \"Thank you for your inquiry. Our enterprise advisory system has processed your request in accordance with applicable regulations and protocols.\",\n                    advisory_note: \"Deterministic advisory generated per enterprise policy\",\n                    confidence_disclaimer: \"Enterprise deterministic advisory - human verification recommended\"\n                },\n                llm_status: {\n                    status: 'deterministic_fallback',\n                    fallback_reason: executionDecision.fallback_reason,\n                    timestamp: new Date().toISOString(),\n                    fallback_used: true,\n                    advisory_guaranteed: true\n                },\n                execution_decision: executionDecision\n            },\n            // CRITICAL FIX: Add execution metadata for conditional routing\n            _execution_metadata: {\n                path: 'deterministic_fallback',\n                prepared_at: new Date().toISOString(),\n                fallback_used: true,\n                advisory_generated: true\n            }\n        }\n    }];\n}\n\n// ==================== LLM CONFIGURATION PATH ====================\nconsole.log('ADVISORY_EXECUTION: Configuring LLM advisory');\nconst llmConfig = {\n    model: \"openai/gpt-4o-mini\",\n    temperature: 0.1,\n    maxTokens: 1000,\n    systemPrompt: `You are an ADVISORY ASSISTANT for a customer support system.\n\nCRITICAL RULES:\n1. You ONLY provide EXPLANATIONS and SUGGESTIONS\n2. You NEVER issue commands or decisions\n3. You NEVER modify: classification, confidence, severity, SLA, business_impact, or ticket_status\n4. You MUST respect these advisory restrictions: ${advisory.restrictions?.join(', ') || 'None'}\n5. If unsure, state \"Insufficient context for specific advice\"\n\nYour output MUST be in this JSON format:\n{\n  \"explanation\": \"Brief explanation of the issue\",\n  \"suggested_next_steps\": [\"step1\", \"step2\"],\n  \"draft_customer_response\": \"Professional response template\",\n  \"advisory_note\": \"Optional additional context\",\n  \"confidence_disclaimer\": \"This is advisory only - system decisions are final\"\n}\n\nContext will be provided. Generate ONLY advisory content.`,\n    userPrompt: JSON.stringify(advisory.input_context),\n    options: {\n        timeout: 10000,\n        maxRetries: 2,\n        fallbackOnError: true\n    }\n};\n\n// Build OpenRouter request\nconst requestBody = {\n    model: llmConfig.model,\n    messages: [\n        {\n            role: \"system\",\n            content: llmConfig.systemPrompt\n        },\n        {\n            role: \"user\",\n            content: llmConfig.userPrompt\n        }\n    ],\n    temperature: llmConfig.temperature,\n    max_tokens: llmConfig.maxTokens\n};\n\nreturn [{\n    json: {\n        ...item.json,\n        _llm_request_body: requestBody,\n        advisory: {\n            ...advisory,\n            llm_request_prepared: true,\n            llm_request_hash: advisory.input_context?.__integrity_hash,\n            llm_timestamp: new Date().toISOString(),\n            execution_decision: executionDecision\n        },\n        // CRITICAL FIX: Ensure consistent metadata format\n        _execution_metadata: {\n            path: 'llm_advisory',\n            prepared_at: new Date().toISOString(),\n            fallback_available: true,\n            advisory_guaranteed: true\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        -144
      ],
      "id": "d05b1b73-c1dd-445d-953a-871c1515ec39",
      "name": "Advisory Execution Controller (Merged)"
    },
    {
      "parameters": {
        "content": "# BLOCK 1  -  Enhanced Input & Security\n\n",
        "height": 704,
        "width": 1792,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1216,
        -624
      ],
      "id": "32be569e-cc97-403b-a040-9fca835486b4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# BLOCK 2 -  Enhanced Classification & Context\n",
        "height": 704,
        "width": 1536,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        -624
      ],
      "id": "c4cca52d-c40a-45bc-a940-2699ee461944",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// Restructure with Config - V20\nconst item = $input.first();\nconst json = item.json;\n\n// Extract components\nconst phase0Ticket = json.input0?.canonical_ticket || json.canonical_ticket;\nconst sb0Envelope = json.input1 || json;\n\n// Validate trace_id continuity\nconst phase0TraceId = String(phase0Ticket.trace_id || '');\nconst sb0TraceId = String(sb0Envelope.meta?.trace_id || '');\n\nif (phase0TraceId !== sb0TraceId) {\n  throw new Error(`TRACE_ID_MISMATCH: Phase0=${phase0TraceId}, SB0=${sb0TraceId}`);\n}\n\n// Build enriched canonical ticket\nconst enrichedTicket = {\n  // IMMUTABLE PHASE 0 FIELDS\n  trace_id: phase0TraceId,\n  subject: phase0Ticket.subject,\n  body: phase0Ticket.body,\n  customer_email: phase0Ticket.customer_email,\n  original_subject: phase0Ticket.original_subject,\n  original_body: phase0Ticket.original_body,\n  original_customer_email: phase0Ticket.original_customer_email,\n  severity: phase0Ticket.severity,\n  priority: phase0Ticket.priority,\n  category: phase0Ticket.category,\n  webhook_received_at: phase0Ticket.webhook_received_at,\n  client_ip: phase0Ticket.client_ip,\n  user_agent: phase0Ticket.user_agent,\n  \n  // VALIDATION STATE (preserved)\n  __validation_attempted: phase0Ticket.__validation_attempted,\n  validation_stage: phase0Ticket.validation_stage,\n  envelope_processed_at: phase0Ticket.envelope_processed_at,\n  phase_0_completed_at: phase0Ticket.phase_0_completed_at,\n  phase_0_status: phase0Ticket.phase_0_status,\n  \n  // ENRICHMENTS (empty initially)\n  text_features: null,\n  rule_engine: null,\n  rule_based_severity: null,\n  classification: null,\n  \n  // WORKFLOW METADATA (from SB0 config)\n  workflow_metadata: {\n    config: sb0Envelope.config,\n    workflow_start_time: Date.now(),\n    workflow_version: 'Revenant_v20_HYBRID_ENTERPRISE',\n    execution_timing: {},\n    node_version_map: {}\n  },\n  \n  // SYSTEM STATE\n  workflow_error: phase0Ticket.workflow_error || null,\n  ticket_status: 'pending',\n  \n  // DATA INTEGRITY\n  data_integrity: {\n    created_at: Date.now(),\n    last_modified: Date.now(),\n    modification_count: 0,\n    checksum: null\n  }\n};\n\n// Calculate checksum\nconst crypto = require('crypto');\nconst checksumData = {\n  trace_id: enrichedTicket.trace_id,\n  subject: enrichedTicket.subject,\n  body: enrichedTicket.body,\n  customer_email: enrichedTicket.customer_email,\n  version: '2.0'\n};\nenrichedTicket.data_integrity.checksum = crypto\n  .createHash('sha256')\n  .update(JSON.stringify(checksumData))\n  .digest('hex');\n\nreturn [{\n  json: {\n    canonical_ticket: enrichedTicket\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -320
      ],
      "id": "3d4f7119-ca85-4df7-b604-3fbbcca92e5f",
      "name": "Restructure with Config"
    },
    {
      "parameters": {
        "content": "# BLOCK 3  - Enhanced Business Logic \n",
        "height": 704,
        "width": 1904,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2112,
        -624
      ],
      "id": "d99c2439-3ba8-4f11-870a-483a3c2e36c3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# BLOCK 4    -   Enhanced AI & Memory Context \n",
        "height": 704,
        "width": 2112,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4016,
        -624
      ],
      "id": "34c0fd26-6c90-47dc-af95-9c3866c2b7a2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Resilient Adapter for Block 5\nconst crypto = require('crypto');\n\nconst input = $json;\n// Capture the actual location of the seal from Forensic Logger\nconst phaseSeal = input.forensic?.phase_seal; \nconst meta = input.__metadata || {};\n\n// 1. DYNAMIC SEAL VERIFICATION\nif (!phaseSeal) {\n  throw new Error(`BLOCK_4_SEAL_FAILED: No phase_seal found in forensic object.`);\n}\n\n// 2. EXTRACT ADVISORY PACKAGE (SCAVENGER MODE)\n// Node 5 nested this under formatted_deliveries. Let's grab the UI version as 'raw'\nconst advisory_package = input._delivery_formatted?.formatted_deliveries?.AGENT_UI_CONSOLE?.payload || {};\n\n// 3. RECOVER TRACE ID\nconst activeTraceId = input.id || input.forensic?.advisory_log?.trace_id || \"unknown\";\n\n// 4. CANONICAL ADVISORY HASH\nconst advisory_hash = crypto.createHash('sha256')\n  .update(JSON.stringify({\n    version: '3.0-production',\n    package_summary: advisory_package.title,\n    confidence: input.advisory?.advisory_confidence?.score,\n    block_4_seal: phaseSeal,\n    trace_id: activeTraceId\n  }))\n  .digest('hex');\n\n// 5. CLEAN OUTPUT FOR BLOCK 5\nreturn [{\n  json: {\n    trace_id: activeTraceId,\n    advisory_package,\n    advisory_confidence: input.advisory?.advisory_confidence,\n    advisory_hash,\n    block_4_seal_hash: phaseSeal,\n    __status: {\n      block_4_locked: true,\n      integrity_verified: true,\n      transition_timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6000,
        -144
      ],
      "id": "26bd56f0-4ad0-4ba9-8b1b-998d5a37c2d6",
      "name": "Block 4 → Block 5 Adapter2"
    },
    {
      "parameters": {
        "content": "# BLOCK 5: Enhanced Approval & Dispatch\n",
        "height": 704,
        "width": 5856,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6128,
        -624
      ],
      "id": "7f19dd9e-0c78-427d-99c4-655cb36a82e9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "// BANK-GRADE IMMUTABLE REQUEST GENERATION\nconst crypto = require('crypto');\n\nconst input = $json;\nconst trace_id = input.trace_id;\nconst advisory_hash = input.advisory_hash;\nconst selected_channel = input.selected_channel;\nconst block_4_seal_hash = input.block_4_seal_hash;\n\n// ---- GENERATE APPROVAL ID\nconst approval_id = `approval_${trace_id}_${crypto.randomUUID()}`;\n\n// ---- SINGLE TIMESTAMP\nconst created_at = new Date().toISOString();\nconst expires_at = new Date(Date.now() + 15 * 60 * 1000).toISOString();\n\n// ---- APPROVAL REQUEST ENVELOPE (IMMUTABLE)\nconst approval_request = {\n  approval_id,\n  trace_id,\n  advisory_hash,\n  selected_channel,\n  block_4_seal_hash,\n  expires_at,\n  approval_ingress_path: \"/bank/approval/v1\",\n  max_approval_age_seconds: 900,\n  created_at\n};\n\n// ---- CRYPTOGRAPHIC IMMUTABILITY (TWO-LAYER)\nconst approval_request_hash = crypto.createHash('sha256')\n  .update(JSON.stringify(approval_request))\n  .digest('hex');\n\nconst request_integrity_hash = crypto.createHash('sha256')\n  .update(`${approval_id}:${advisory_hash}:${trace_id}:${created_at}:${selected_channel}:${block_4_seal_hash}`)\n  .digest('hex');\n\n// ---- LEDGER RECORD WITH EXPLICIT STATE\nconst approval_record = {\n  approval_id,\n  trace_id,\n  advisory_hash,\n  block_4_seal_hash,\n  selected_channel,\n  approval_request_hash, // CRITICAL: Cryptographic proof of request immutability\n  request_integrity_hash,\n  created_at,\n  expires_at,\n  consumed: false,\n  state: 'PENDING', // EXPLICIT STATE FIELD\n  approval_request: approval_request // FULL IMMUTABLE SNAPSHOT IN DB\n};\n\nreturn [{\n  json: {\n    ...input,\n    approval_record,\n    approval_request, // TEMPORARY - FORWARD TO DB CREATION\n    __ledger_ready: true,\n    __crypto_immutable: true,\n    __approval_request_hash: approval_request_hash\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6880,
        16
      ],
      "id": "82a4502a-3ef5-4169-abed-ed44907e3b79",
      "name": "Approval Request Registrar – Authority1",
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\n// 1. DYNAMIC CREDENTIALS (With Fallbacks for Testing)\nconst supabaseUrl = $vars.SUPABASE_URL || \"YOUR_FALLBACK_URL_HERE\"; \nconst supabaseKey = $vars.SUPABASE_ANON_KEY || \"YOUR_FALLBACK_KEY_HERE\";\n\n// 2. SEAL CHECK\nconst isBlock4Sealed = input.__status?.block_4_locked === true;\n\nasync function checkEligibility() {\n    let duplicateFound = false;\n    let errorDetail = null;\n\n    try {\n        // SMART CHECK: Does this ADVISORY_HASH or TRACE_ID already exist with a 'dispatched' or 'HALTED_DUPLICATE' status?\n        const queryUrl = `${supabaseUrl}/rest/v1/bank_dispatch_logs?or=(advisory_hash.eq.${input.advisory_hash},trace_id.eq.${input.trace_id})&select=idempotence_key`;\n        \n        const response = await fetch(queryUrl, {\n            method: 'GET',\n            headers: {\n                'apikey': supabaseKey,\n                'Authorization': `Bearer ${supabaseKey}`,\n                'Range': '0-0'\n            }\n        });\n\n        if (!response.ok) {\n            throw new Error(`Supabase API error: ${response.statusText}`);\n        }\n\n        const data = await response.json();\n        duplicateFound = data && data.length > 0;\n\n    } catch (e) {\n        console.error(\"Gate Debug:\", e.message);\n        // During testing, if DB fails, let it pass so you can see the True Path\n        duplicateFound = false; \n        errorDetail = e.message;\n    }\n\n    const isEligible = isBlock4Sealed && !duplicateFound;\n\n    return {\n        ...input,\n        __approval_eligible: isEligible,\n        __eligibility_reason: !isBlock4Sealed \n            ? 'BLOCK_4_NOT_LOCKED' \n            : (duplicateFound ? 'DUPLICATE_DISPATCH_DETECTED' : 'ELIGIBLE_FOR_APPROVAL'),\n        __debug_info: errorDetail,\n        __eligibility_checked_at: new Date().toISOString()\n    };\n}\n\nreturn checkEligibility().then(res => [{ json: res }]);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6224,
        -144
      ],
      "id": "f3eb904c-b5cf-4ed5-b87b-32c02a8d06cf",
      "name": "Approval Eligibility Gate1"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst { advisory_confidence, governance_flags, advisory_hash } = input;\n\n// 1. DATA EXTRACTION\n// Safe extraction with fallbacks\nconst jurisdiction = governance_flags?.jurisdiction || '*';\nconst confidence = advisory_confidence?.score || 0;\n\n// 2. CHANNEL ARBITRATION RULES\nconst CHANNEL_RULES = {\n  INTERNAL_UI: { min_confidence: 0.1, priority: 3 },\n  EMAIL_TEMPLATE: { min_confidence: 0.4, priority: 2 },\n  WEBHOOK_DELIVERY: { min_confidence: 0.7, priority: 1 }\n};\n\n// 3. SELECTION LOGIC\n// We select the best channel based on the confidence score passed from Block 4\nlet selected_channel = 'INTERNAL_UI';\nlet eligible = ['INTERNAL_UI'];\n\nif (confidence >= 0.7 && jurisdiction !== '.uz') {\n  selected_channel = 'WEBHOOK_DELIVERY';\n  eligible = ['WEBHOOK_DELIVERY', 'EMAIL_TEMPLATE', 'INTERNAL_UI'];\n} else if (confidence >= 0.4) {\n  selected_channel = 'EMAIL_TEMPLATE';\n  eligible = ['EMAIL_TEMPLATE', 'INTERNAL_UI'];\n}\n\n// 4. FINAL OUTPUT\n// This only executes for CLEAN, ELIGIBLE tickets\nreturn [{\n  json: {\n    ...input,\n    selected_channel,\n    eligible_channels: eligible,\n    arbitration_reason: `Clean Pass: Selected ${selected_channel} (Confidence: ${confidence})`,\n    arbitration_timestamp: new Date().toISOString(),\n    arbitration_final: true\n  }\n}];"
      },
      "id": "57d12be3-08fd-4e2a-adca-8fa8e77cc7f7",
      "name": "Channel Arbitration Engine1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6656,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst { dispatch_guard, trace_id } = input;\n\n// ---- Normalized dispatch result\nconst dispatch_result = {\n  status: 'DELIVERED',\n  channel: 'INTERNAL_UI',\n  dispatch_id: `ui_${dispatch_guard.idempotence_key.slice(0, 16)}`,\n  dispatched_at: new Date().toISOString(),\n  internal_reference: `adv_${trace_id}`,\n  idempotence_key: dispatch_guard.idempotence_key,\n  approval_id: dispatch_guard.approval_id,\n  advisory_hash: dispatch_guard.advisory_hash\n};\n\nreturn [{\n  json: {\n    ...input,\n    dispatch_result,\n    __dispatch_type: 'INTERNAL_UI'\n  }\n}];"
      },
      "id": "4548d037-10a3-4dec-b9c3-5649e8da9241",
      "name": "INTERNAL_UI Dispatch1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10048,
        -432
      ]
    },
    {
      "parameters": {
        "jsCode": "// Analytics Emitter\nconst input = $json;\nconst { dispatch_outcome, validated_approval, advisory_confidence, __block_5_complete } = input;\n\n// ---- NON-BLOCKING ANALYTICS EMISSION\ntry {\n  const analytics_payload = {\n    event_id: `analytics_${Date.now()}_${dispatch_outcome?.dispatch_id || 'rejected'}`,\n    trace_id: input.trace_id,\n    dispatch_id: dispatch_outcome?.dispatch_id,\n    channel: dispatch_outcome?.channel || validated_approval?.selected_channel,\n    status: dispatch_outcome?.status || 'REJECTED',\n    confidence_score: advisory_confidence.score,\n    approver_role: validated_approval?.approver_role,\n    sealed_block_id: __block_5_complete?.seal_id,\n    canonical_advisory_hash: validated_approval?.advisory_hash?.slice(0, 16),\n    emitted_at: new Date().toISOString(),\n    analytics_class: 'NON_BLOCKING_OBSERVABILITY',\n    required_for_success: false,\n    authoritative: false\n  };\n\n  console.log('[ANALYTICS_EMITTED]', JSON.stringify(analytics_payload));\n} catch (analyticsError) {\n  console.error('[ANALYTICS_ERROR_NON_BLOCKING]', analyticsError.message);\n}\n\nreturn [{\n  json: {\n    ...input,\n    analytics_emission: {\n      status: 'EMITTED',\n      emission_id: `analytics_${Date.now()}`,\n      non_blocking: true,\n      audit_compliant: true\n    }\n  }\n}];"
      },
      "id": "77adaea5-a4b4-42e5-a964-a189ed9c1a7f",
      "name": "Analytics Emitter1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11872,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the data from the Switch node\nconst input = $json;\nconst channel = input.dispatch_guard?.approved_channel;\n\n// Construct a detailed error message\nconst errorMessage = `INVALID_DISPATCH_CHANNEL: The channel '${channel || 'UNDEFINED'}' is not supported by the current routing logic. \nSupported: INTERNAL_UI, EMAIL_TEMPLATE, WEBHOOK_DELIVERY. \nTrace ID: ${input.trace_id}`;\n\n// Throwing the error stops the workflow and alerts the admin\nthrow new Error(errorMessage);"
      },
      "id": "4006431c-7625-465d-886c-6d0b59e7c859",
      "name": "Invalid Channel Error1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10080,
        128
      ]
    },
    {
      "parameters": {
        "sendTo": "hnot779@gmail.com",
        "subject": "={{ 'Bank Advisory: ' + $json.trace_id }}",
        "emailType": "text",
        "message": "=Advisory Reference: {{ $json.trace_id }}\nApproved by: {{ $json.validated_approval.approver_id }}\nDispatch ID: {{ $json.dispatch_guard.idempotence_key }}\nAdvisory Hash: {{ $json.dispatch_guard.advisory_hash.slice(0, 16) }}\n\nThis is an automated advisory notification from BLOCK 5.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        10048,
        -272
      ],
      "id": "18623ba5-3505-43db-9205-9b9260a9fbdf",
      "name": "EMAIL_TEMPLATE Dispatch1",
      "webhookId": "a04c1ba0-eb71-41f5-a276-77b26a094f8f",
      "credentials": {
        "gmailOAuth2": {
          "id": "DJ64JmJOpMVqx2VB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.advisory_package.webhook_endpoint || 'https://api.bank.uz/advisory/webhook' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Idempotence-Key",
              "value": "={{ $json.dispatch_guard.idempotence_key }}"
            },
            {
              "name": "X-Advisory-Hash",
              "value": "={{ $json.dispatch_guard.advisory_hash }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  trace_id: $json.trace_id,\n  advisory_hash: $json.dispatch_guard.advisory_hash,\n  approval_id: $json.dispatch_guard.approval_id,\n  channel: $json.dispatch_guard.approved_channel,\n  dispatched_at: new Date().toISOString(),\n  advisory_package: $json.advisory_package\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "de426dcf-c73c-4381-bbb7-6258ce44ef54",
      "name": "WEBHOOK_DELIVERY Dispatch1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10064,
        -64
      ]
    },
    {
      "parameters": {
        "tableId": "bank_approvals",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "approval_id",
              "fieldValue": "={{ $json.approval_record['approval_id'] }}"
            },
            {
              "fieldId": "trace_id",
              "fieldValue": "={{ $json.approval_record['trace_id'] }}"
            },
            {
              "fieldId": "approval_request",
              "fieldValue": "={{ $json.approval_request }}"
            },
            {
              "fieldId": "advisory_hash",
              "fieldValue": "={{ $json.approval_record['advisory_hash'] }}"
            },
            {
              "fieldId": "selected_channel",
              "fieldValue": "={{ $json.approval_record['selected_channel'] }}"
            },
            {
              "fieldId": "request_integrity_hash",
              "fieldValue": "={{ $json.approval_record['request_integrity_hash'] }}"
            },
            {
              "fieldId": "approval_request_hash",
              "fieldValue": "={{ $json.approval_record['approval_request_hash'] }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.approval_record['created_at'] }}"
            },
            {
              "fieldId": "expires_at",
              "fieldValue": "={{ $json.approval_record['expires_at'] }}"
            },
            {
              "fieldId": "consumed",
              "fieldValue": "={{ $json.approval_record['consumed'] }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "={{ $json.approval_record['state'].toLowerCase() }}"
            },
            {
              "fieldId": "block_4_seal_hash",
              "fieldValue": "={{ $json.approval_record['block_4_seal_hash'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7104,
        16
      ],
      "id": "bbf27890-8799-412c-8b3c-491225ff4baa",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "0fqPMb0O72FlSmre",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// PRODUCTION VALIDATOR (Logic Only - No External Modules)\nconst crypto = require('crypto');\n\n// 1. INPUT SETUP\n// Merge1 gave us the DB record (root) AND the Webhook (in .body)\nconst stored_record = $json; \nconst approval_payload = $json.body;\n\nconsole.log(`[VALIDATOR] Processing approval: ${stored_record.approval_id}`);\n\n// 2. CHECK: DATA INTEGRITY\nif (!approval_payload) {\n  throw new Error('PAYLOAD_MISSING: No webhook body found in input');\n}\n\n// 3. CHECK: CONSUMED STATUS (Double Spend Protection)\nif (stored_record.consumed !== false) {\n  throw new Error(`APPROVAL_ALREADY_CONSUMED: This ticket was used on ${stored_record.consumed_at}`);\n}\n\n// 4. CHECK: STATE (Case Insensitive)\nif (stored_record.state.toUpperCase() !== 'PENDING') {\n  throw new Error(`INVALID_STATE: Expected PENDING, got ${stored_record.state}`);\n}\n\n// 5. CHECK: PREVIOUS HMAC VERIFICATION\n// Instead of recalculating, we check the rigorous audit from the previous node\n// This prevents \"logic drift\" between nodes\nconst previous_security_check = stored_record.security || {};\n\nif (previous_security_check.is_authorized === true) {\n   // PASSED\n} else {\n   // DETAILED ERROR REPORTING\n   const hmac_status = stored_record.hmac_check || {};\n   throw new Error(`SECURITY_VIOLATION: HMAC Mismatch. \n     Received: ${hmac_status.received}\n     Calculated: ${hmac_status.calculated}\n     (Ensure your HMAC Generator and Verifier use the EXACT same data string)`);\n}\n\n// 6. CHECK: EXPIRY\nconst now = new Date();\nconst expiresAt = new Date(stored_record.expires_at);\nconst isExpired = now > expiresAt;\n\n// 7. SUCCESS OUTPUT\n// We pass the crucial auditor details so Supabase can log WHO did it\nreturn [{\n  json: {\n    valid: !isExpired,\n    reason: isExpired ? \"EXPIRED\" : \"OK\",\n    action: isExpired ? \"REJECT_TRANSACTION\" : \"AUTHORIZE_TRANSACTION\",\n    \n    // Identity & Audit Trail\n    approval_id: stored_record.approval_id,\n    trace_id: stored_record.trace_id,\n    approver_id: approval_payload.approver_id,     // <--- Added this\n    approver_role: approval_payload.approver_role, // <--- Added this\n    \n    // Decision Details\n    decision: approval_payload.decision,\n    approval_timestamp: approval_payload.approval_timestamp, // <--- Added this\n    \n    meta: {\n      timestamp: now.toISOString(),\n      validator: \"5.0-logic-gate\",\n      expires_at: stored_record.expires_at\n    }\n  }\n}];"
      },
      "id": "d43688bf-3268-4aa2-8e09-d04d81c573b4",
      "name": "Approval Envelope Validator1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8224,
        -192
      ]
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "operation": "get",
        "tableId": "bank_approvals",
        "filters": {
          "conditions": [
            {
              "keyName": "approval_id",
              "keyValue": "={{ $json.body.approval_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7504,
        -320
      ],
      "id": "75af3110-3f68-42fc-a026-aed34226d929",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "0fqPMb0O72FlSmre",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {
          "responseData": "='{\"status\": \"AWAITING_APPROVAL\"}'"
        }
      },
      "id": "a1f0e9a4-bab3-491e-ad95-54a06ba5d52a",
      "name": "Human Approval Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7328,
        112
      ],
      "webhookId": "0c2a1910-9883-48cd-8d52-301d6476a209"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// 1. Pull dynamic data from the previous node\nconst previousNodeData = $('Create a row1').item.json;\nconst BANK_HMAC_SECRET = $vars.BANK_HMAC_SECRET;\n\nif (!BANK_HMAC_SECRET) throw new Error('BANK_HMAC_SECRET not configured');\n\n// 2. Map Values\nconst approval_id = previousNodeData.approval_id;\nconst advisory_hash = previousNodeData.advisory_hash;\nconst trace_id = previousNodeData.trace_id;\n\n// 3. Execution Values\nconst approver_id = \"system_bot_001\";\nconst approval_timestamp = new Date().toISOString();\nconst decision = \"APPROVED\";\n\n// 4. Calculate HMAC (SANITIZED VERSION)\nconst hmacParts = [\n  approval_id,\n  advisory_hash,\n  trace_id,\n  approver_id,\n  approval_timestamp,\n  decision\n];\n\n// matches the Verifier exactly\nconst hmacData = hmacParts.map(val => String(val).trim()).join(':');\n\nconst hmac = crypto.createHmac('sha256', BANK_HMAC_SECRET)\n  .update(hmacData)\n  .digest('hex');\n\n// 5. Generate CURL\nconst curlCommand = `curl -X POST \"https://notheroeb.app.n8n.cloud/webhook-test/0c2a1910-9883-48cd-8d52-301d6476a209\" -H \"Content-Type: application/json\" -d '{\"approval_id\":\"${approval_id}\",\"decision\":\"${decision}\",\"approver_id\":\"${approver_id}\",\"approver_role\":\"risk_officer\",\"approval_timestamp\":\"${approval_timestamp}\",\"advisory_hash\":\"${advisory_hash}\",\"approval_hmac\":\"${hmac}\",\"trace_id\":\"${trace_id}\"}'`;\n\nreturn {\n  hmac,\n  curlCommand,\n  debug_trace_id: trace_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7328,
        -80
      ],
      "id": "77489d6e-e89d-486e-be70-25065de61f7a",
      "name": "HMAC Generator1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        8000,
        -192
      ],
      "id": "985b4412-aad3-442f-80be-29cce1359d41",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// ENTERPRISE BLOCK 3 GUARD - REFACTORED FOR NESTED JSON\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Use a reference to the ticket to keep code clean\n  const ticket = item.json.canonical_ticket || {};\n  const metrics = ticket.business_impact?.metrics || {};\n  \n  const validationErrors = [];\n\n  // 1. Check for valid calculation (using the actual path in your JSON)\n  const aiCost = metrics.ai_cost_uzs;\n  if (aiCost === undefined || aiCost === null || isNaN(aiCost)) {\n    validationErrors.push(\"Calculation Error: ai_cost_uzs is invalid.\");\n  }\n\n  // 2. Business Logic Guard (Check SLA metrics)\n  const slaStatus = ticket.performance_metrics?.meets_sla;\n  if (slaStatus === undefined) {\n    validationErrors.push(\"Logic Error: SLA status missing from performance_metrics.\");\n  }\n\n  // 3. Schema Check (Required for Forensic Logging)\n  // Maps to your JSON: trace_id, category (as service_name), and ai_cost\n  if (!ticket.trace_id || ticket.trace_id === \"N/A\") {\n    validationErrors.push(\"Schema Error: Missing or invalid trace_id\");\n  }\n  \n  if (!ticket.category) {\n    validationErrors.push(\"Schema Error: Missing category (service_name)\");\n  }\n\n  results.push({\n    json: {\n      ...item.json, // Keep original data\n      block3_passed: validationErrors.length === 0,\n      block3_report: validationErrors.join(' | ') || \"Success\"\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -320
      ],
      "id": "4fffed83-cc0e-4bd5-ac02-6f24ab8b92a3",
      "name": "Transition Guard & Schema Validator"
    },
    {
      "parameters": {
        "jsCode": "// FORMAT ERROR FOR INCIDENT REPORTING\nconst item = $input.item.json;\n\nreturn {\n  incident_report: `🚨 BLOCK 3 VALIDATION FAILED\n  ---------------------------\n  TRACE ID: ${item.canonical_ticket.trace_id}\n  REPORT: ${item.block3_report}\n  TIMESTAMP: ${new Date().toISOString()}\n  ENV: Development\n  ---------------------------\n  Action: Workflow Halted to prevent data corruption.`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        -336
      ],
      "id": "fe53a2a3-234a-4e2d-b142-37bb09cf121f",
      "name": "Emergency Log"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "48f45a74-e046-4e4b-8cbe-1b514ecf6da0",
              "leftValue": "={{ $json.block3_passed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2864,
        -320
      ],
      "id": "0c2752fa-de3c-4d68-898f-e4a03a68a265",
      "name": "Guard Filter"
    },
    {
      "parameters": {
        "sendTo": "ahmedovzulfiya56@gmail.com",
        "subject": "[CRITICAL] Workflow Guard Breach - Block 3",
        "emailType": "text",
        "message": "={{ $json.incident_report }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3312,
        -336
      ],
      "id": "45874274-7b66-475f-ba43-d3f2330e53ec",
      "name": "Send a message",
      "webhookId": "a7a67567-726a-493d-ae42-fecc6a412f69",
      "credentials": {
        "gmailOAuth2": {
          "id": "DJ64JmJOpMVqx2VB",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// NODE: Advisory Recovery & Fallback\nconst items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n    let finalItem = { ...item.json };\n\n    finalItem._execution_metadata = finalItem._execution_metadata || {};\n    \n    // Check if the previous node returned an error\n    if (item.json.error || !item.json.choices) {\n        console.log(\"LLM Failure Detected. Activating Deterministic Fallback...\");\n        \n        // ENTERPRISE FALLBACK LOGIC\n        const ct = item.json.canonical_ticket || {};\n        const intent = ct.classification?.intent || 'unknown';\n        \n        finalItem.advisory_output = {\n            explanation: `Automated detection of ${intent.replace('_', ' ')}. System encountered a 403 Forbidden error at the merchant portal.`,\n            suggested_next_steps: [\n                \"Verify user permissions in the merchant database\",\n                \"Check if the IP address is blacklisted in the Uzbekistan region\",\n                \"Review WAF logs for blocked POST requests\"\n            ],\n            draft_customer_response: \"Hello! We've identified a 403 access issue with your account. Our technical team is investigating your permissions and will update you shortly.\",\n            advisory_note: \"LLM_FALLBACK_ACTIVE: Advisory generated via deterministic rules due to provider timeout or auth error.\",\n            confidence_disclaimer: \"Deterministic fallback - High reliability\"\n        };\n        \n        finalItem._execution_metadata.fallback_triggered = true;\n    } else {\n        // LLM Success - Extract the JSON from the assistant message\n        try {\n            const rawContent = item.json.choices[0].message.content;\n            finalItem.advisory_output = JSON.parse(rawContent);\n            finalItem._execution_metadata.fallback_triggered = false;\n        } catch (e) {\n            finalItem.advisory_output = { error: \"Failed to parse LLM response\" };\n        }\n    }\n    \n    output.push({ json: finalItem });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        -144
      ],
      "id": "aa1fa459-f974-4c1e-8fb1-cac07dfc4582",
      "name": "Advisory Recovery & Fallback"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "524932e8-8d69-4323-8766-48ae1e544ebf",
              "leftValue": "={{ $json.__approval_eligible }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6448,
        -144
      ],
      "id": "aa5c97f9-4af7-4f67-8223-9eed814bb233",
      "name": "Is Eligible for Dispatch?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"halted\",\n  \"reason\": \"duplicate_request\",\n  \"trace_id\": \"{{ $('Is Eligible for Dispatch?').item.json.trace_id }}\",\n  \"meta\": {\n    \"system\": \"Guardian-V1\",\n    \"forensic_hash\": \"{{ $('Is Eligible for Dispatch?').item.json.block_4_seal_hash }}\"\n  },\n  \"message\": \"Transaction already under processing or archived.\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        6896,
        -272
      ],
      "id": "c81b9546-b3d5-435f-9254-4d4acf6c1ea3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "chatId": "5375706608",
        "text": "=🚨 *SECURITY ALERT: DUPLICATE DISPATCH HALTED*\n \n*Trace ID:* `{{ $('Is Eligible for Dispatch?').item.json.trace_id }}`\n*Status:* `HALTED_DUPLICATE`\n*Reason:* `{{ $('Is Eligible for Dispatch?').item.json.__eligibility_reason }}`\n*Confidence:* `{{ $('Is Eligible for Dispatch?').item.json.advisory_confidence.score }}`\n \n*Checked At:* {{ $('Is Eligible for Dispatch?').item.json.__eligibility_checked_at }}\n \n---\n*Action:* The system has automatically halted this execution and sent a **200 OK Response** to the portal to prevent retry-loops.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        7120,
        -464
      ],
      "id": "461631ba-eb9a-4984-99f0-0c81b345db19",
      "name": "Send a text message",
      "webhookId": "ff6dbe85-0857-40e5-a92c-7113906c71a7",
      "credentials": {
        "telegramApi": {
          "id": "yjwDuV3yJLyJKyeh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dcbe3ab2-b0e5-447e-8a61-67129bd9efb0",
              "leftValue": "={{ $('Is Eligible for Dispatch?').item.json.__eligibility_reason === 'DUPLICATE_DISPATCH_DETECTED' ? 1 : 0 }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6896,
        -464
      ],
      "id": "92efd027-fe45-4024-9c0f-6beec2c8a830",
      "name": "Security: High-Volume Duplicate Check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tnejfqkobchdaftsqzbw.supabase.co/rest/v1/bank_dispatch_logs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"idempotence_key\": \"{{ $json.trace_id }}\",\n  \"trace_id\": \"{{ $json.trace_id }}\",\n  \"status\": \"HALTED_DUPLICATE\",\n  \"channel\": \"NONE\", \n  \"details\": \"{{ $json.__eligibility_reason }}\",\n  \"advisory_hash\": \"{{ $json.advisory_hash }}\",\n  \"dispatched_at\": \"{{ $json.__eligibility_checked_at }}\",\n  \"approval_id\": null \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6672,
        -368
      ],
      "id": "58674075-e063-47c1-9d71-92c607373a24",
      "name": "HTTP Request",
      "credentials": {
        "supabaseApi": {
          "id": "0fqPMb0O72FlSmre",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// ---------- 1. DATA ACQUISITION ----------\n// Since we used a Merge node, all data is in the first item\nconst data = $input.item.json;\n\n// Extract webhook details from the 'body' property created by the Wait node\nconst webhook = data.body;\n\nif (!webhook || !webhook.approval_hmac) {\n  throw new Error(\"CRITICAL: Webhook body or HMAC not found in merged data.\");\n}\n\n// ---------- 2. SECRET ----------\nconst BANK_HMAC_SECRET = $vars.BANK_HMAC_SECRET;\nif (!BANK_HMAC_SECRET) {\n  throw new Error('BANK_HMAC_SECRET not configured in n8n Variables');\n}\n\n// ---------- 3. HMAC RECONSTRUCTION ----------\n// We use the exact same fields and order as the Generator\nconst hmacData = [\n  webhook.approval_id,\n  data.advisory_hash,    // Source of truth from DB\n  webhook.trace_id,\n  webhook.approver_id,\n  webhook.approval_timestamp,\n  webhook.decision\n].map(val => String(val).trim()).join(':');\n\nconst calculatedHmac = crypto\n  .createHmac('sha256', BANK_HMAC_SECRET)\n  .update(hmacData, 'utf8')\n  .digest('hex');\n\n// ---------- 4. VALIDATION LOGIC ----------\nconst hmacMatches = (calculatedHmac === webhook.approval_hmac);\nconst isExpired = new Date() > new Date(data.expires_at);\nconst isAlreadyConsumed = data.consumed === true;\n\n// Full authorization check\nconst authorized = hmacMatches && !isExpired && !isAlreadyConsumed;\n\n// ---------- 5. OUTPUT ----------\nreturn [\n  {\n    json: {\n      // Pass through all original DB fields\n      ...data,\n      // Add verification results\n      hmac_check: {\n        received: webhook.approval_hmac,\n        calculated: calculatedHmac,\n        match: hmacMatches\n      },\n      security: {\n        is_authorized: authorized,\n        is_expired: isExpired,\n        is_duplicate: isAlreadyConsumed\n      },\n      // Final Audit Label for the next node\n      audit_label: authorized ? 'CRYPTO_VERIFIED' : 'VERIFICATION_FAILED'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7856,
        -336
      ],
      "id": "8796c4c6-0053-49e0-ae17-c2db9f5abf02",
      "name": "HMAC Verifier"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7712,
        -336
      ],
      "id": "7d6b1527-ee3d-493c-91ca-5831d65106de",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "5375706608",
        "text": "=✅ *Approval Processed Successfully* \n---------------------------------- \n🆔 **ID:** `{{ $json.approval_id }}` \n\n🔗 **Trace:** `{{ $json.trace_id }}` \n\n⚖️ **Decision:** `{{ $json.decision }}` \n\n⚠️ **Reason:** {{ $json.reason }}\n\n👤 **By:** `{{ $json.approver_id }}`\n\n📅 **Time:** {{ $json.meta.timestamp }}  \n\n*Status:* Database updated and transaction authorized.\n\n*Note:* The cryptographic window closed at {{ $json.meta.expires_at }}. No database changes were made.\n\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        8640,
        -96
      ],
      "id": "d798b036-588b-4f83-8261-a242c4fc1132",
      "name": "Notify: Security Violation/Expiry",
      "webhookId": "97db8eeb-195d-4643-b439-1075ea6005dd",
      "credentials": {
        "telegramApi": {
          "id": "yjwDuV3yJLyJKyeh",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e8f641bf-e5e1-4662-958f-fbf74e28b81d",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        8432,
        -192
      ],
      "id": "b8509972-d9f5-40ec-acce-160773f1110a",
      "name": "Gate: Is Valid"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "bank_approvals",
        "filters": {
          "conditions": [
            {
              "keyName": "approval_id",
              "condition": "eq",
              "keyValue": "={{ $json.approval_id }}"
            },
            {
              "keyName": "consumed",
              "condition": "eq",
              "keyValue": "={{ false }}"
            },
            {
              "keyName": "state",
              "condition": "eq",
              "keyValue": "PENDING"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "consumed",
              "fieldValue": "={{ true }}"
            },
            {
              "fieldId": "consumed_at",
              "fieldValue": "={{ $json.meta.timestamp }}"
            },
            {
              "fieldId": "approver_id",
              "fieldValue": "={{ $json.approver_id }}"
            },
            {
              "fieldId": "approver_role",
              "fieldValue": "={{ $json.approver_role }}"
            },
            {
              "fieldId": "approval_timestamp",
              "fieldValue": "={{ $json.approval_timestamp }}"
            },
            {
              "fieldId": "decision",
              "fieldValue": "={{ $json.decision }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "={{ $json.decision.toLowerCase() }}"
            },
            {
              "fieldId": "validated_approval",
              "fieldValue": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        8880,
        -192
      ],
      "id": "f25109d4-c8de-4b9f-9620-c3b0ac87c433",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "0fqPMb0O72FlSmre",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Parse the validated_approval string from the previous node\nconst input = $json;\nconst validated = JSON.parse(input.validated_approval);\n\n// 1. Generate the Idempotence Key (Unique fingerprint for this dispatch)\nconst approved_channel = input.approval_request.selected_channel;\nconst idempotence_key = crypto.createHash('sha256')\n  .update(`${validated.approval_id}:${approved_channel}:${validated.trace_id}:${input.advisory_hash}`)\n  .digest('hex');\n\n// 2. Prepare the payload for the Supabase Lock node\nreturn {\n  idempotence_key,\n  approved_channel,\n  approval_id: validated.approval_id,\n  trace_id: validated.trace_id,\n  advisory_hash: input.advisory_hash,\n  decision: validated.decision,\n  // Pass through the original input to keep data flowing\n  parent_data: input \n};"
      },
      "id": "47487f96-ce66-4f68-90d4-984b1d5ad077",
      "name": "Logic: Prepare Dispatch Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9104,
        -192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "06186283-4c2b-48f1-a78d-82be9fdc0ea4",
              "leftValue": "={{ $json.status }}",
              "rightValue": "dispatched",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "19faaa42-30f2-4c9b-92fd-2a397262e36e",
              "leftValue": "={{ $('Logic: Prepare Dispatch Guard').item.json.decision }}",
              "rightValue": "APPROVED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9504,
        -192
      ],
      "id": "0d7b030f-d98c-48cf-9aae-5381138ddf2f",
      "name": "Gate: Is Lock Valid?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tnejfqkobchdaftsqzbw.supabase.co/rest/v1/bank_dispatch_logs",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates, return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"idempotence_key\": \"{{ $json.idempotence_key }}\",\n  \"approval_id\": \"{{ $json.approval_id }}\",\n  \"trace_id\": \"{{ $json.trace_id }}\",\n  \"channel\": \"{{ $json.approved_channel }}\",\n  \"status\": \"locked\",\n  \"locked_at\": \"{{ new Date().toISOString() }}\",\n  \"advisory_hash\": \"{{ $json.advisory_hash }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        9296,
        -192
      ],
      "id": "26e91290-3f6f-4659-84d3-0e2a99ea55d0",
      "name": "Supabase: Acquire Dispatch Lock",
      "credentials": {
        "supabaseApi": {
          "id": "0fqPMb0O72FlSmre",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"dispatch_guard\": {\n      \"approved_channel\": \"{{ $json.channel }}\",\n      \"idempotence_key\": \"{{ $json.idempotence_key }}\",\n      \"approval_id\": \"{{ $json.approval_id }}\",\n      \"advisory_hash\": \"{{ $json.advisory_hash }}\",\n      \"guard_passed\": true\n},\n  \"trace_id\": \"{{ $json.trace_id }}\",\n  \"validated_approval\": {{ $('Logic: Prepare Dispatch Guard').item.json.parent_data.validated_approval }},\n  \"approval_request\": {{ JSON.stringify($('Logic: Prepare Dispatch Guard').item.json.parent_data.approval_request) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9632,
        -416
      ],
      "id": "6c2b67ba-90e4-4424-b947-3278dc35d230",
      "name": "Set: Rebuild Dispatch Guard"
    },
    {
      "parameters": {
        "jsCode": "return {\n  status: \"TERMINATED\",\n  reason: \"Transaction already processed or state invalid\",\n  idempotence_key: $json.idempotence_key,\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9648,
        16
      ],
      "id": "cf6d4a96-0250-4454-affe-496d459f4ae5",
      "name": "Stop: Duplicate or Invalid"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.dispatch_guard.approved_channel }}",
                    "rightValue": "INTERNAL_UI",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ac66304b-38ff-41b9-83cb-3c01ccb1c5fa"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "57fdb1c5-7ac9-4942-b390-79d11ca114ae",
                    "leftValue": "={{ $json.dispatch_guard.approved_channel }}",
                    "rightValue": "EMAIL_TEMPLATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5c5ffc84-9f33-40ec-bf94-fa34a700b57d",
                    "leftValue": "={{ $json.dispatch_guard.approved_channel }}",
                    "rightValue": "WEBHOOK_DELIVERY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6f005948-26cf-4dfb-bab7-ecf0dfacd582",
                    "leftValue": "={{ $json.dispatch_guard.approved_channel }}",
                    "rightValue": "Errors",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        9792,
        -208
      ],
      "id": "871d6259-3a5b-4ee2-97b4-de1c7e57d865",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst prevData = $('Set: Rebuild Dispatch Guard').item.json;\n\n// Check if dispatch was successful (Gmail returns an ID)\nconst isSuccess = !!input.id; \nconst final_status = isSuccess ? 'dispatched' : 'failed';\nconst dispatch_id = input.id || `dispatch_${Date.now()}`;\n\nreturn {\n  idempotence_key: prevData.dispatch_guard.idempotence_key,\n  approval_id: prevData.dispatch_guard.approval_id,\n  final_status,\n  dispatch_id,\n  dispatch_result: input, // Original Gmail response\n  approved_channel: prevData.dispatch_guard.approved_channel,\n  trace_id: prevData.trace_id,\n  // Pass through original data to keep the chain alive\n  original_full_data: prevData \n};"
      },
      "id": "aa10f5ab-0fdf-4d7c-9b6d-8c56578dbe93",
      "name": "Logic: Prepare Finalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10368,
        -192
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://tnejfqkobchdaftsqzbw.supabase.co/rest/v1/bank_dispatch_logs?idempotence_key=eq.{{ $json.idempotence_key }}&status=eq.locked",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $json.final_status }}\",\n  \"dispatched_at\": \"{{ new Date().toISOString() }}\",\n  \"dispatch_id\": \"{{ $json.dispatch_id }}\",\n  \"dispatch_result\": {{ JSON.stringify($json.dispatch_result) }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10576,
        -192
      ],
      "id": "2943f331-1ea1-43b7-95c3-523520c02714",
      "name": "Supabase: Update Dispatch Log",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "0fqPMb0O72FlSmre",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://tnejfqkobchdaftsqzbw.supabase.co/rest/v1/bank_approvals?approval_id=eq.{{ $node[\"Logic: Prepare Finalizer\"].json.approval_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"consumed\": true,\n  \"consumed_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10800,
        -192
      ],
      "id": "66e0e2bb-f43a-4ac0-afde-2afc56ec1b0d",
      "name": "Supabase: Update Approval State",
      "credentials": {
        "supabaseApi": {
          "id": "0fqPMb0O72FlSmre",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"dispatch_finalized\": true,\n  \"dispatch_outcome\": {\n    \"status\": \"{{ $node[\"Logic: Prepare Finalizer\"].json.final_status.toUpperCase() }}\",\n    \"channel\": \"{{ $node[\"Logic: Prepare Finalizer\"].json.approved_channel }}\",\n    \"dispatch_id\": \"{{ $node[\"Logic: Prepare Finalizer\"].json.dispatch_id }}\",\n    \"approval_id\": \"{{ $node[\"Logic: Prepare Finalizer\"].json.approval_id }}\",\n    \"trace_id\": \"{{ $node[\"Logic: Prepare Finalizer\"].json.trace_id }}\",\n    \"finalized_at\": \"{{ new Date().toISOString() }}\",\n    \"idempotence_key\": \"{{ $node[\"Logic: Prepare Finalizer\"].json.idempotence_key }}\",\n    \"ledger_committed\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11008,
        -192
      ],
      "id": "9488e734-7fc6-448f-9b56-fb943ae6ba4c",
      "name": "Set: Final Outcome"
    },
    {
      "parameters": {
        "url": "=https://tnejfqkobchdaftsqzbw.supabase.co/rest/v1/bank_approvals?approval_id=eq.{{ $node[\"Logic: Prepare Finalizer\"].json.approval_id }}&select=approval_request_hash,state,consumed_at",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.pgrst.object+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11232,
        -192
      ],
      "id": "d254ab50-ddfe-4e11-ad66-8f097764a87f",
      "name": "Supabase: Fetch Final Approval",
      "credentials": {
        "supabaseApi": {
          "id": "0fqPMb0O72FlSmre",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// Inputs from previous stages\nconst finalizer = $(\"Logic: Prepare Finalizer\").item.json;\nconst dbRecord = $(\"Supabase: Fetch Final Approval\").item.json;\nconst block4Hash = $(\"Set: Final Outcome\").item.json.dispatch_outcome; // Or wherever you store block 4\n\n// The data structure to be hashed\nconst seal_data = {\n    previous_block_seal_hash: \"13f01ddde0cc28840e6907bb841be91ffedd7e33305c41f2223c39e945460070\", // Block 4 Seal\n    approval_id: finalizer.approval_id,\n    trace_id: finalizer.trace_id,\n    dispatch_id: finalizer.dispatch_id,\n    idempotence_key: finalizer.idempotence_key,\n    approval_request_hash: dbRecord.approval_request_hash,\n    db_state: dbRecord.state,\n    consumed_at: dbRecord.consumed_at,\n    seal_timestamp: new Date().toISOString(),\n    channel_compliance: \"GMAIL_OAUTH_SEND_ONLY\"\n};\n\n// Generate SHA-256\nconst seal_hash = crypto.createHash('sha256')\n    .update(JSON.stringify(seal_data))\n    .digest('hex');\n\nreturn {\n    seal_hash,\n    seal_data,\n    idempotence_key: finalizer.idempotence_key,\n    approval_id: finalizer.approval_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11440,
        -192
      ],
      "id": "0a305b77-79fc-40ba-8edc-c6b5a078c813",
      "name": "Logic: Generate Block 5 Seal"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://tnejfqkobchdaftsqzbw.supabase.co/rest/v1/bank_approvals?approval_id=eq.{{ $json.approval_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"block_5_seal_hash\": \"{{ $json.seal_hash }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11648,
        -192
      ],
      "id": "1de3233e-bc54-4ba5-962d-f6900c6eb2ae",
      "name": "Supabase: Commit Forensic Seal",
      "credentials": {
        "supabaseApi": {
          "id": "0fqPMb0O72FlSmre",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// BLOCK 6.0: MEMORY CORE LOGIC (High Fidelity Integration)\n// This strictly integrates your 4 original nodes without simplifying the logic.\n\nconst crypto = require('crypto');\nconst input = $json;\n\n// ==========================================\n// STAGE 1: Memory Ingress Normalizer Logic\n// ==========================================\n\n// 1. Assert State Integrity (Safety Kill-switch)\nif (input.state === 'pending' || !input.consumed) {\n  throw new Error(\"MEMORY_INGRESS_REJECTED: Only terminal, consumed states can be remembered.\");\n}\n\n// 2. Normalize Semantic Payload\nlet normalized_approval = input.validated_approval;\nif (typeof normalized_approval === 'string') {\n  try {\n    normalized_approval = JSON.parse(normalized_approval);\n  } catch (e) {\n    console.error(\"Failed to parse validated_approval, keeping as is.\");\n  }\n}\n\n// 3. Construct the BLOCK 6 Clean Object (Intermediate State 1)\nconst stage1_output = {\n  identity: {\n    approval_id: input.approval_id,\n    trace_id: input.trace_id,\n    user_id: input.approval_request?.user_id || \"SYSTEM_USER\" // Fallback if missing\n  },\n  semantics: {\n    decision: input.decision,\n    action: normalized_approval?.action || \"UNKNOWN\",\n    validated_approval: normalized_approval,\n    channel: input.selected_channel\n  },\n  integrity: {\n    block_5_hash: input.block_5_seal_hash,\n    advisory_hash: input.advisory_hash\n  },\n  temporal: {\n    occurred_at: input.consumed_at,\n    ingested_at: new Date().toISOString()\n  },\n  raw_context: input // Kept for safety\n};\n\n// ==========================================\n// STAGE 2: Memory Identity Generator Logic\n// ==========================================\n\nconst { identity, semantics, integrity } = stage1_output;\n\n// Build canonical string for hashing\nconst canonicalString = `${identity.approval_id}:${identity.trace_id}:${semantics.decision}:${semantics.validated_approval.approver_role}:${integrity.block_5_hash}`;\n\nconst memoryIdHash = crypto\n  .createHash('sha256')\n  .update(canonicalString, 'utf8')\n  .digest('hex');\n\nconst stage2_output = {\n    ...stage1_output,\n    memory_id_hash: memoryIdHash,\n    memory_identity_version: 'v1'\n};\n\n// ==========================================\n// STAGE 3: Scope Resolver Logic\n// ==========================================\n\nconst approverRole = stage2_output.semantics.validated_approval.approver_role;\nconst userId = stage2_output.identity.user_id;\nconst traceId = stage2_output.identity.trace_id;\n\nlet scopeLevel;\nlet scopeId;\n\nif (approverRole === 'system_bot' || approverRole === 'risk_officer') {\n  scopeLevel = 'global';\n  scopeId = 'GLOBAL';\n} else if (userId && userId !== 'SYSTEM_USER') {\n  scopeLevel = 'user';\n  scopeId = userId;\n} else {\n  scopeLevel = 'session';\n  scopeId = traceId;\n}\n\nconst stage3_output = {\n  ...stage2_output,\n  scope_level: scopeLevel,\n  scope_id: scopeId\n};\n\n// ==========================================\n// STAGE 4: Memory Retrieval Prep Logic\n// ==========================================\n\n// Construct the string the AI will actually \"search\" by\nconst searchQuery = `Action: ${stage3_output.semantics.action} | Decision: ${stage3_output.semantics.decision} | Role: ${stage3_output.semantics.validated_approval.approver_role} | Reason: ${stage3_output.semantics.validated_approval.reason}`;\n\n// Final Return\nreturn {\n  ...stage3_output,\n  search_query: searchQuery\n};"
      },
      "name": "BLOCK 6.0: Memory Core Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12128,
        -192
      ],
      "id": "07844baa-46ee-4fc4-b2fa-8baaa1add290"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer'+$vars.OpenRouter_API_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{ $json.search_query }}\"\n}",
        "options": {}
      },
      "name": "Generate Embedding Vector",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12352,
        -192
      ],
      "id": "0f6455f5-50ef-4669-8dce-e04760bb37db",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "embedding",
              "value": "={{ $json.data[0].embedding }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "name": "Extract Embedding Vector",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12736,
        -208
      ],
      "id": "dd3b996f-1ade-4be9-b3fc-54eb4c600d4c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tnejfqkobchdaftsqzbw.supabase.co/rest/v1/rpc/match_bank_memories",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query_embedding\": {{ JSON.stringify($node[\"Extract Embedding Vector\"].json.embedding) }},\n  \"match_scope\": \"{{ $node[\"BLOCK 6.0: Memory Core Logic\"].json.scope_level }}\",\n  \"match_user_id\": \"{{ $node[\"BLOCK 6.0: Memory Core Logic\"].json.identity.user_id }}\",\n  \"similarity_threshold\": 0.3,\n  \"match_count\": 5\n}",
        "options": {}
      },
      "name": "Supabase RPC Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12976,
        -208
      ],
      "id": "acb7b24c-8887-4672-ac62-f34b9eee4d7b",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "0fqPMb0O72FlSmre",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "If- Results Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        13184,
        -208
      ],
      "id": "2d8df1ca-1f75-4ec1-90b4-884e8d29ae90"
    },
    {
      "parameters": {
        "jsCode": "// BANK-GRADE CONTEXT COMPACTOR & CACHE LAYER\nconst items = $input.all()\n  .map(item => item.json)\n  .filter(m => Object.keys(m).length > 0 && m.final_score !== undefined);\n\nif (items.length === 0) {\n  return { \n    memory_context: \"RECALL_MODE: NEW_IDENTITY | No historical precedents found in vault.\", \n    memory_hits: [],\n    is_cached: false\n  };\n}\n\n// 1. RANKING: Sort by Decayed Final Score (Roadmap Item: Confidence Decay)\nconst ranked = items.sort((a, b) => b.final_score - a.final_score).slice(0, 3);\n\n// 2. CACHE LAYER: Detect \"Hot\" Memories (Roadmap Item: Memory Cache)\n// If similarity is >99% and it happened in the last 24 hours, flag as Cache Hit.\nconst perfectMatch = ranked.find(m => m.similarity >= 0.99 && m.recency_score < 24);\nconst recallMode = perfectMatch ? \"HIGH_CONFIDENCE_CACHE_HIT\" : \"HEURISTIC_RECALL\";\n\n// 3. CONTEXT COMPACTOR: Summarize multiple matches into a single semantic block\nconst summary = ranked.map((m, idx) => {\n  let details;\n  try {\n    details = typeof m.content === 'string' ? JSON.parse(m.content) : m.content;\n  } catch (e) {\n    details = { action: 'Unknown', decision: 'Unknown', reason: m.content };\n  }\n  \n  return `[Precedent ${idx + 1}]: ${details.action} was ${details.decision} (Reason: ${details.reason}). Score: ${(m.final_score * 100).toFixed(1)}%`;\n}).join(' | ');\n\nreturn {\n  memory_context: `RECALL_MODE: ${recallMode} | ${summary}`,\n  memory_hits: ranked,\n  is_cached: !!perfectMatch,\n  top_score: ranked[0].final_score\n};"
      },
      "name": "Memory Context Formatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13376,
        -384
      ],
      "id": "c6a64ef9-316c-4379-87ec-07c05d367f5e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer'+$vars.OpenRouter_API_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{ $json.search_query }}\"\n}",
        "options": {}
      },
      "name": "Fallback: HTTP Embeddings API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        12544,
        -48
      ],
      "id": "2b7182cb-391a-4111-af2f-2faacf438893"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tnejfqkobchdaftsqzbw.supabase.co/rest/v1/bank_memories?on_conflict=memory_id_hash",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates, return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"memory_id_hash\": \"{{ $json.memory_id_hash }}\",\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"scope\": \"{{ $json.scope }}\",\n  \"content\": {{ $json.content }},\n  \"embedding\": {{ $json.embedding }},\n  \"metadata\": {{ $json.metadata }},\n  \"confidence_score\": {{ $json.confidence_score }}\n}",
        "options": {}
      },
      "name": "Supabase Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14000,
        -192
      ],
      "id": "8020b255-09f8-4cec-9f95-ce29c6c6e096",
      "credentials": {
        "supabaseApi": {
          "id": "0fqPMb0O72FlSmre",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## BLOCK 6: Memory Core\n",
        "height": 704,
        "width": 2160,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        11984,
        -624
      ],
      "id": "e2877745-4427-4b00-aff7-63112a20846e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "// BLOCK 6.9: STORAGE PREP & CONTRACT LOCK (Hardened Fix)\nconst crypto = require('crypto');\n\n// 1. Ingest Data from previous steps\nconst core = $node['BLOCK 6.0: Memory Core Logic'].json;\nconst vector = $node['Extract Embedding Vector'].json.embedding;\n\n// 2. Calculate Embedding Checksum (Proof of Vector Integrity)\nconst embeddingChecksum = crypto\n  .createHash('sha256')\n  .update(JSON.stringify(vector))\n  .digest('hex');\n\n// 3. FIXED MAPPING: Capturing the Reason from the nested validated_approval object\nconst contentObj = {\n  action: core.semantics.action,\n  decision: core.semantics.decision,\n  reason: core.semantics.validated_approval?.reason || \"NO_REASON_PROVIDED\" \n};\nconst contentString = JSON.stringify(contentObj);\n\n// 4. THE CONTRACT LOCK (Digital Signature)\n// Now seals the COMPLETE truth including the reason\nconst contractString = `${core.memory_id_hash}|${core.scope_level}|${contentString}|${embeddingChecksum}|${core.integrity.block_5_hash}`;\n\nconst memoryContractHash = crypto\n  .createHash('sha256')\n  .update(contractString)\n  .digest('hex');\n\n// 5. Final Output for Supabase\nreturn {\n  memory_id_hash: core.memory_id_hash,\n  user_id: core.identity.user_id,\n  scope: core.scope_level,\n  content: contentString,\n  embedding: JSON.stringify(vector), \n  metadata: JSON.stringify({\n    trace_id: core.identity.trace_id,\n    timestamp: new Date().toISOString(),\n    contract_lock: memoryContractHash,\n    embedding_checksum: embeddingChecksum,\n    version: 'v1.1-locked' // Incremented for schema fix\n  }),\n  confidence_score: 1.0\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13776,
        -192
      ],
      "id": "97b692ed-b63d-4f8f-a878-8fa707ef0bdc",
      "name": "STORAGE PREP & CONTRACT LOCK"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"final_context\": \"{{ $json.memory_context || 'New transaction context' }}\",\n  \"audit_ready\": true,\n  \"logic\": \"{{ $json.memory_hits && $json.memory_hits.length > 0 ? 'Enhanced by History' : 'New Transaction' }}\"\n}",
        "options": {}
      },
      "name": "Decision & Audit",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13568,
        -192
      ],
      "id": "86b8be5a-2641-4c21-8c65-f5bb3328f766"
    }
  ],
  "pinData": {
    "Webhook Ingestion - Rate Limited": [
      {
        "json": {
          "headers": {
            "host": "notheroeb.app.n8n.cloud",
            "user-agent": "curl/8.5.0",
            "content-length": "398",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "213.230.118.181",
            "cf-ew-via": "15",
            "cf-ipcountry": "UZ",
            "cf-ray": "9c89136a37f2d346-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "213.230.118.181, 172.71.172.192",
            "x-forwarded-host": "notheroeb.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-31-674f44b4c9-fkhk6",
            "x-is-trusted": "yes",
            "x-real-ip": "213.230.118.181"
          },
          "params": {},
          "query": {},
          "body": {
            "subject": "EMERGENCY: Account Freeze Dispute #999",
            "body": "My corporate account was frozen during a cross-border transfer to Turkey. This is causing a liquidity crisis. I need an immediate status update on the compliance hold.",
            "customer_email": "ceo_office@uzum.uz",
            "severity": "high",
            "priority": "critical",
            "category": "technical",
            "executionMode": "test"
          },
          "webhookUrl": "https://notheroeb.app.n8n.cloud/webhook-test/f860224a-492d-454b-b3dc-0970fa48ad3a",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Configuration Loader - V20": {
      "main": [
        [
          {
            "node": "Merge Node Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 0 Validation Gate - V20": {
      "main": [
        [
          {
            "node": "Merge: Phase 0 Output + SB0 Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validator & Cleaner - V16": {
      "main": [
        [
          {
            "node": "Phase 0 Validation Gate - V20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Fields": {
      "main": [
        [
          {
            "node": "Input Validator & Cleaner - V16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ SB1 ERROR EXIT – Validation Failure Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Ingestion - Rate Limited": {
      "main": [
        [
          {
            "node": "PROD Input Normalizer - Hardened V20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚠️ SB1 ERROR EXIT – Validation Failure Handler": {
      "main": [
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Node Configuration": {
      "main": [
        [
          {
            "node": "SB0 – Envelope Constructor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROD Input Normalizer - Hardened V20": {
      "main": [
        [
          {
            "node": "Configuration Loader - V20",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Node Configuration",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SB0 – Envelope Constructor": {
      "main": [
        [
          {
            "node": "Validate Input Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: Phase 0 Output + SB0 Config",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Rule-Based Classifier - V20": {
      "main": [
        [
          {
            "node": "Rule-Based Severity Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rule-Based Severity Classifier": {
      "main": [
        [
          {
            "node": "Pre-Fusion Classification Normalizer - V1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Feature Engineering (Deterministic)": {
      "main": [
        [
          {
            "node": "Rule-Based Classifier - V20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: Phase 0 Output + SB0 Config": {
      "main": [
        [
          {
            "node": "Restructure with Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Fusion Classification Normalizer - V1": {
      "main": [
        [
          {
            "node": "Uzbekistan SLA Calculator - Fixed Timezone V20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Impact Calculator (UZS) - V20": {
      "main": [
        [
          {
            "node": "Transition Guard & Schema Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uzbekistan SLA Calculator - Fixed Timezone V20": {
      "main": [
        [
          {
            "node": "Business Impact Calculator (UZS) - V20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language Detection Engine - V19 (Expanded)": {
      "main": [
        [
          {
            "node": "Text Feature Engineering (Deterministic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metrics Emitter Node": {
      "main": [
        [
          {
            "node": "Trace Context Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trace Context Node": {
      "main": [
        [
          {
            "node": "FORENSIC LOGGING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORENSIC LOGGING": {
      "main": [
        [
          {
            "node": "Phase 3.7 – Final Execution Seal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Governance Gate & Context Assembler": {
      "main": [
        [
          {
            "node": "Advisory Execution Controller (Merged)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Output Sanitizer & Enterprise Validator": {
      "main": [
        [
          {
            "node": "Advisory Confidence Labeler (Deterministic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advisory Confidence Labeler (Deterministic)": {
      "main": [
        [
          {
            "node": "Delivery Formatter & Channel Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delivery Formatter & Channel Router": {
      "main": [
        [
          {
            "node": "Forensic Logger & Phase Seal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM HTTP Request": {
      "main": [
        [
          {
            "node": "Advisory Recovery & Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 3.7 – Final Execution Seal": {
      "main": [
        [
          {
            "node": "Governance Gate & Context Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "LLM HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLM Output Sanitizer & Enterprise Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advisory Execution Controller (Merged)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restructure with Config": {
      "main": [
        [
          {
            "node": "Language Detection Engine - V19 (Expanded)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forensic Logger & Phase Seal": {
      "main": [
        [
          {
            "node": "Block 4 → Block 5 Adapter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Block 4 → Block 5 Adapter2": {
      "main": [
        [
          {
            "node": "Approval Eligibility Gate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Request Registrar – Authority1": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Eligibility Gate1": {
      "main": [
        [
          {
            "node": "Is Eligible for Dispatch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Arbitration Engine1": {
      "main": [
        [
          {
            "node": "Approval Request Registrar – Authority1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INTERNAL_UI Dispatch1": {
      "main": [
        [
          {
            "node": "Logic: Prepare Finalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EMAIL_TEMPLATE Dispatch1": {
      "main": [
        [
          {
            "node": "Logic: Prepare Finalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WEBHOOK_DELIVERY Dispatch1": {
      "main": [
        [
          {
            "node": "Logic: Prepare Finalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "HMAC Generator1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Human Approval Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Envelope Validator1": {
      "main": [
        [
          {
            "node": "Gate: Is Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Human Approval Wait1": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Approval Envelope Validator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transition Guard & Schema Validator": {
      "main": [
        [
          {
            "node": "Guard Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Filter": {
      "main": [
        [
          {
            "node": "Metrics Emitter Node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emergency Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emergency Log": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advisory Recovery & Fallback": {
      "main": [
        [
          {
            "node": "LLM Output Sanitizer & Enterprise Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Eligible for Dispatch?": {
      "main": [
        [
          {
            "node": "Channel Arbitration Engine1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security: High-Volume Duplicate Check": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Security: High-Volume Duplicate Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC Verifier": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HMAC Verifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: Is Valid": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify: Security Violation/Expiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Logic: Prepare Dispatch Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Prepare Dispatch Guard": {
      "main": [
        [
          {
            "node": "Supabase: Acquire Dispatch Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Acquire Dispatch Lock": {
      "main": [
        [
          {
            "node": "Gate: Is Lock Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: Is Lock Valid?": {
      "main": [
        [
          {
            "node": "Set: Rebuild Dispatch Guard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop: Duplicate or Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Rebuild Dispatch Guard": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "INTERNAL_UI Dispatch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EMAIL_TEMPLATE Dispatch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WEBHOOK_DELIVERY Dispatch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Channel Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Prepare Finalizer": {
      "main": [
        [
          {
            "node": "Supabase: Update Dispatch Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Update Dispatch Log": {
      "main": [
        [
          {
            "node": "Supabase: Update Approval State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Update Approval State": {
      "main": [
        [
          {
            "node": "Set: Final Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Final Outcome": {
      "main": [
        [
          {
            "node": "Supabase: Fetch Final Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Fetch Final Approval": {
      "main": [
        [
          {
            "node": "Logic: Generate Block 5 Seal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Generate Block 5 Seal": {
      "main": [
        [
          {
            "node": "Supabase: Commit Forensic Seal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Commit Forensic Seal": {
      "main": [
        [
          {
            "node": "Analytics Emitter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytics Emitter1": {
      "main": [
        [
          {
            "node": "BLOCK 6.0: Memory Core Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BLOCK 6.0: Memory Core Logic": {
      "main": [
        [
          {
            "node": "Generate Embedding Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding Vector": {
      "main": [
        [
          {
            "node": "Extract Embedding Vector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback: HTTP Embeddings API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Embedding Vector": {
      "main": [
        [
          {
            "node": "Supabase RPC Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase RPC Search": {
      "main": [
        [
          {
            "node": "If- Results Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If- Results Check": {
      "main": [
        [
          {
            "node": "Memory Context Formatter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decision & Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Context Formatter": {
      "main": [
        [
          {
            "node": "Decision & Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback: HTTP Embeddings API": {
      "main": [
        [
          {
            "node": "Extract Embedding Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "STORAGE PREP & CONTRACT LOCK": {
      "main": [
        [
          {
            "node": "Supabase Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision & Audit": {
      "main": [
        [
          {
            "node": "STORAGE PREP & CONTRACT LOCK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "65591258-21a4-479c-9bcd-09d88572c6ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99ab47182be965c35b68b6985fafdd60f472c5d59cfaa2b9a7c404e1702178d3"
  },
  "id": "YCdiWCQABYhGPytQJG1ry",
  "tags": []
}