n8n-workflows/Governance_ Weekly Delta Report.json
{
  "name": "Governance: Weekly Delta Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        -16
      ],
      "id": "fd55c772-bb9b-4bd1-9d2c-7b4e2bd3448e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// REVENANT - Cloud-Native Drift Analyzer\n// Pure JS translation of the Python Data Science engine for n8n Cloud\n// =============================================================================\n\n// Hard-coded baseline statistics (from training / earlier dataset)\nconst BASELINE = {\n    transaction_amount_mean: 2500000.0,\n    transaction_amount_std: 5000000.0,\n    risk_score_mean: 45.0,\n    risk_score_std: 25.0,\n};\n\nconst DRIFT_Z_THRESHOLD = 2.0;\n\n// 1. Ingest Data from the previous node\nconst items = $input.all().map(item => item.json);\n\nif (items.length === 0) {\n    return [{ json: { status: \"Skipped\", reason: \"No data in the last 7 days.\" } }];\n}\n\nconst n = items.length;\n\n// =============================================================================\n// A. Confidence Degradation (Linear Regression: y = mx + b)\n// =============================================================================\nlet sumX = 0, sumY = 0, sumXY = 0, sumX2 = 0;\nitems.forEach((row, i) => {\n    const y = parseFloat(row.model_confidence) || 0;\n    sumX += i;\n    sumY += y;\n    sumXY += (i * y);\n    sumX2 += (i * i);\n});\n\nlet slope = 0;\nif (n > 1) {\n    slope = (n * sumXY - sumX * sumY) / (n * sumX2 - sumX * sumX);\n}\nconst avgConfidence = sumY / n;\n\n// =============================================================================\n// B. Feature Drift (Z-Score Analysis on Escalated Tickets)\n// =============================================================================\nconst escalated = items.filter(r => r.consensus_action === 'ESCALATE');\nconst drift = { transaction_amount: { drifted: false }, risk_score: { drifted: false } };\n\nif (escalated.length > 5) {\n    // Transaction Amount Z-Score\n    const amtMean = escalated.reduce((acc, r) => acc + (parseFloat(r.transaction_amount) || 0), 0) / escalated.length;\n    const zAmt = (amtMean - BASELINE.transaction_amount_mean) / BASELINE.transaction_amount_std;\n    drift.transaction_amount = {\n        current_mean: Number(amtMean.toFixed(2)),\n        z_score: Number(zAmt.toFixed(4)),\n        drifted: Math.abs(zAmt) > DRIFT_Z_THRESHOLD\n    };\n\n    // Risk Score Z-Score\n    const riskMean = escalated.reduce((acc, r) => acc + (parseFloat(r.risk_score) || 0), 0) / escalated.length;\n    const zRisk = (riskMean - BASELINE.risk_score_mean) / BASELINE.risk_score_std;\n    drift.risk_score = {\n        current_mean: Number(riskMean.toFixed(2)),\n        z_score: Number(zRisk.toFixed(4)),\n        drifted: Math.abs(zRisk) > DRIFT_Z_THRESHOLD\n    };\n} else {\n    drift.transaction_amount.note = \"insufficient data\";\n    drift.risk_score.note = \"insufficient data\";\n}\n\n// =============================================================================\n// C. False Positive Analysis\n// =============================================================================\nconst denied = items.filter(r => r.consensus_action === 'DENY');\nconst falsePositives = denied.filter(r => \n    r.human_override === true || String(r.human_override).toLowerCase() === 'true'\n);\n\nconst fpRate = denied.length > 0 ? (falsePositives.length / denied.length) : 0;\n\n// =============================================================================\n// D. Final Recommendation Engine\n// =============================================================================\nconst anyDrift = drift.transaction_amount.drifted || drift.risk_score.drifted;\nconst updateRecommendation = anyDrift || fpRate > 0.1;\n\n// Output the final JSON Payload\nreturn [{\n    json: {\n        report_type: \"Weekly Delta Report\",\n        dataset_rows: n,\n        confidence_trend: {\n            slope: Number(slope.toFixed(6)),\n            average: Number(avgConfidence.toFixed(4))\n        },\n        feature_drift: drift,\n        false_positives: {\n            count: falsePositives.length,\n            total_deny: denied.length,\n            rate: Number(fpRate.toFixed(4))\n        },\n        recommendation: updateRecommendation ? \"UPDATE_RISK_WEIGHTS\" : \"WEIGHTS_STABLE\"\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -16
      ],
      "id": "7f64dccc-5481-4478-a157-ef5300e6198a",
      "name": "Cloud-Native Drift Analyzer"
    },
    {
      "parameters": {
        "chatId": "={{ $vars.Telegram_chat_ID }}",
        "text": "=Attached is the Weekly AI Delta Report. \n**Recommendation:** {{ $json.recommendation }}. \n**False Positive Rate:** {{ $json.false_positives.rate }}.",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        -16
      ],
      "id": "62efbac0-56a8-4eb9-955c-fe766182d5f4",
      "name": "Send a text message",
      "webhookId": "cbf05059-ae22-40aa-9ac7-5f17d09c2708",
      "credentials": {
        "telegramApi": {
          "id": "cvMLNgGEw4hRmno0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "validation_lake",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ $today.minus({days: 7}).toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        368,
        -16
      ],
      "id": "b82e94dd-43e4-453f-b2e9-07f86d6ae08b",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "2cKw4OZfcr30ilWW",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloud-Native Drift Analyzer": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Cloud-Native Drift Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f37d609d-30bb-4d75-b676-2f429de72b36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78c6a364e8ea556c4441f54ffc3b18dfc6557a3412b75e7187eae4ac0d914297"
  },
  "id": "ScVmOXnlOBMWyu7k",
  "tags": []
}