n8n-workflows/archives/Revenant_v27.json

{"name":"REVENANT_v27_0","nodes":[{"parameters":{"content":"# BLOCK 10: Treaty Negotiation Engine\n## AI-to-AI Treaty Protocol\nCross-country mesh coordination layer","height":704,"width":2016,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,448],"id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","name":"Sticky Note Block 10"},{"parameters":{"content":"# BLOCK 11: Cross-Border Mesh Router\n## Federated Trust Routing\nConsensus-based decision propagation","height":704,"width":2016,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,1216],"id":"b2c3d4e5-f6a7-8901-bcde-f12345678901","name":"Sticky Note Block 11"},{"parameters":{"httpMethod":"POST","path":"treaty-negotiation-webhook","responseMode":"responseNode","options":{}},"id":"c3d4e5f6-a7b8-9012-cdef-123456789012","name":"BLOCK 10.0: Treaty Ingestion Gateway","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,800],"webhookId":"treaty-v27-ingress-001"},{"parameters":{"jsCode":"// BLOCK 10.1: Treaty Validator (Hardened v27.0)\n// Validates incoming treaty proposals from foreign AI systems\nconst crypto = require('crypto');\nconst item = $input.first();\nconst treaty = item.json.body || item.json;\n\nconst TREATY_SECRET = $vars.TREATY_HMAC_SECRET || process.env.TREATY_HMAC_SECRET;\nif (!TREATY_SECRET) {\n    throw new Error(\"CRITICAL: TREATY_HMAC_SECRET missing\");\n}\n\nconst validation = {\n    treaty_id: treaty.treaty_id || `TREATY_${Date.now()}_${crypto.randomBytes(4).toString('hex')}`,\n    originating_jurisdiction: treaty.jurisdiction,\n    originating_ai_id: treaty.origin_ai_id,\n    proposal_timestamp: treaty.timestamp,\n    treaty_type: treaty.treaty_type,\n    scope: treaty.scope || {},\n    duration_hours: treaty.duration_hours || 24,\n    __validation_attempted: true,\n    __validation_timestamp: new Date().toISOString()\n};\n\nconst requiredFields = ['jurisdiction', 'origin_ai_id', 'treaty_type', 'proposal_hash'];\nconst missing = requiredFields.filter(f => !treaty[f]);\n\nif (missing.length > 0) {\n    return {\n        json: {\n            ...validation,\n            __validation_passed: false,\n            __validation_error: `MISSING_FIELDS: ${missing.join(', ')}`,\n            security_gate: { stop_execution: true, reason: 'INVALID_TREATY_FORMAT' }\n        }\n    };\n}\n\nconst hmacData = [treaty.treaty_id, treaty.jurisdiction, treaty.origin_ai_id, treaty.timestamp].join(':');\nconst computedHash = crypto.createHmac('sha256', TREATY_SECRET).update(hmacData).digest('hex');\nconst hashBuffer = Buffer.from(computedHash);\nconst inputBuffer = Buffer.from(treaty.proposal_hash || '');\nlet hashValid = false;\nif (inputBuffer.length === hashBuffer.length) {\n    try {\n        hashValid = crypto.timingSafeEqual(hashBuffer, inputBuffer);\n    } catch(e) {}\n}\n\nif (!hashValid) {\n    return {\n        json: {\n            ...validation,\n            __validation_passed: false,\n            __validation_error: 'HMAC_VERIFICATION_FAILED',\n            security_gate: { stop_execution: true, reason: 'TREATY_AUTHENTICATION_FAILURE' }\n        }\n    };\n}\n\nconst allowedJurisdictions = ['UZ', 'KZ', 'KG', 'TJ', 'TM'];\nif (!allowedJurisdictions.includes(treaty.jurisdiction)) {\n    return {\n        json: {\n            ...validation,\n            __validation_passed: false,\n            __validation_error: 'JURISDICTION_NOT_RECOGNIZED',\n            security_gate: { stop_execution: true, reason: 'UNAUTHORIZED_JURISDICTION' }\n        }\n    };\n}\n\nreturn {\n    json: {\n        ...validation,\n        __validation_passed: true,\n        treaty_hash_verified: true,\n        security_gate: { stop_execution: false }\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,800],"id":"d4e5f6a7-b8c9-0123-defa-234567890123","name":"BLOCK 10.1: Treaty Validator"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"val-check-1","leftValue":"={{ $json.__validation_passed }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[448,800],"id":"e5f6a7b8-c9d0-1234-efab-345678901234","name":"BLOCK 10.2: Validation Gate"},{"parameters":{"jsCode":"// BLOCK 10.3: Treaty Terms Analyzer (v27.0)\n// Parses treaty terms and determines local impact\nconst item = $input.first();\nconst treaty = item.json;\n\nconst analysis = {\n    treaty_id: treaty.treaty_id,\n    analysis_timestamp: new Date().toISOString(),\n    local_impact_assessment: {\n        data_sharing_required: treaty.scope?.data_sharing === true,\n        decision_federation_enabled: treaty.scope?.federated_decisions === true,\n        cross_border_routing: treaty.scope?.routing_enabled === true,\n        audit_mirror_required: treaty.scope?.regulator_visibility === true\n    },\n    risk_classification: 'LOW',\n    estimated_compliance_cost_usd: 0,\n    counterparty_trust_score: 0.85\n};\n\nif (treaty.scope?.federated_decisions && treaty.scope?.data_sharing) {\n    analysis.risk_classification = 'MEDIUM';\n    analysis.estimated_compliance_cost_usd = 2500;\n}\n\nif (treaty.jurisdiction !== 'UZ') {\n    analysis.counterparty_trust_score = 0.72;\n}\n\nif (treaty.duration_hours > 168) {\n    analysis.risk_classification = 'HIGH';\n}\n\nreturn { json: { ...treaty, ...analysis } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,800],"id":"f6a7b8c9-d0e1-2345-fabc-456789012345","name":"BLOCK 10.3: Treaty Terms Analyzer"},{"parameters":{"jsCode":"// BLOCK 10.4: Local Policy Checker (v27.0)\n// Verifies treaty against local constitutional constraints\nconst item = $input.first();\nconst analysis = item.json;\n\nconst LOCAL_CONSTRAINTS = {\n    max_treaty_duration_hours: 720,\n    prohibited_data_types: ['biometric_raw', 'password_hash', 'crypto_keys'],\n    required_approvals: ['compliance_officer', 'legal_review'],\n    max_cross_border_exposure_usd: 100000\n};\n\nconst violations = [];\n\nif (analysis.duration_hours > LOCAL_CONSTRAINTS.max_treaty_duration_hours) {\n    violations.push('DURATION_EXCEEDS_LOCAL_LIMIT');\n}\n\nif (analysis.local_impact_assessment?.data_sharing_required) {\n    const prohibited = analysis.scope?.shared_data_types || [];\n    const conflict = prohibited.filter(t => LOCAL_CONSTRAINTS.prohibited_data_types.includes(t));\n    if (conflict.length > 0) {\n        violations.push(`PROHIBITED_DATA_TYPES: ${conflict.join(', ')}`);\n    }\n}\n\nconst policyCompliant = violations.length === 0;\n\nreturn {\n    json: {\n        ...analysis,\n        policy_check: {\n            compliant: policyCompliant,\n            violations: violations,\n            local_constraints_applied: LOCAL_CONSTRAINTS,\n            checked_at: new Date().toISOString()\n        },\n        __policy_check_passed: policyCompliant\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,800],"id":"07b8c9d0-e1f2-3456-abcd-567890123456","name":"BLOCK 10.4: Local Policy Checker"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"policy-check-1","leftValue":"={{ $json.__policy_check_passed }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1120,800],"id":"18c9d0e1-f2a3-4567-bcde-678901234567","name":"BLOCK 10.5: Policy Gate"},{"parameters":{"jsCode":"// BLOCK 10.6: Treaty Signature Generator (v27.0)\n// Creates cryptographic signature for treaty acceptance\nconst crypto = require('crypto');\nconst item = $input.first();\nconst treaty = item.json;\n\nconst SIGNING_KEY = $vars.TREATY_SIGNING_KEY || process.env.TREATY_SIGNING_KEY;\nif (!SIGNING_KEY) {\n    throw new Error(\"CRITICAL: TREATY_SIGNING_KEY missing\");\n}\n\nconst signaturePayload = {\n    treaty_id: treaty.treaty_id,\n    responding_jurisdiction: 'UZ',\n    responding_ai_id: 'revenant_v27_core',\n    acceptance_timestamp: new Date().toISOString(),\n    terms_accepted: true,\n    local_policy_verified: treaty.policy_check.compliant,\n    validity_hours: Math.min(treaty.duration_hours, 720)\n};\n\nconst canonicalString = JSON.stringify(signaturePayload, Object.keys(signaturePayload).sort());\nconst signature = crypto.createHmac('sha256', SIGNING_KEY).update(canonicalString).digest('hex');\n\nreturn {\n    json: {\n        ...treaty,\n        local_signature: {\n            ...signaturePayload,\n            signature_hash: signature,\n            algorithm: 'HMAC-SHA256'\n        },\n        treaty_status: 'ACCEPTED_PENDING_COUNTERPARTY'\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,800],"id":"29d0e1f2-a3b4-5678-cdef-789012345678","name":"BLOCK 10.6: Treaty Signature Generator"},{"parameters":{"method":"POST","url":"=https://tnejfqkobchdaftsqzbw.supabase.co/rest/v1/ai_treaties","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"treaty_id\": \"{{ $json.treaty_id }}\",\n  \"origin_jurisdiction\": \"{{ $json.originating_jurisdiction }}\",\n  \"origin_ai_id\": \"{{ $json.originating_ai_id }}\",\n  \"local_jurisdiction\": \"{{ $json.local_signature.responding_jurisdiction }}\",\n  \"local_ai_id\": \"{{ $json.local_signature.responding_ai_id }}\",\n  \"treaty_type\": \"{{ $json.treaty_type }}\",\n  \"scope\": {{ JSON.stringify($json.scope) }},\n  \"local_signature\": \"{{ $json.local_signature.signature_hash }}\",\n  \"status\": \"{{ $json.treaty_status }}\",\n  \"valid_until\": \"{{ new Date(Date.now() + ($json.local_signature.validity_hours * 3600000)).toISOString() }}\",\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1568,800],"id":"30e1f2a3-b4c5-6789-defa-890123456789","name":"BLOCK 10.7: Treaty Repository","credentials":{"supabaseApi":{"id":"0fqPMb0O72FlSmre","name":"Supabase account"}}},{"parameters":{"jsCode":"// BLOCK 10.8: Treaty Response Builder (v27.0)\nconst item = $input.first();\nconst treaty = item.json;\n\nreturn {\n    json: {\n        treaty_id: treaty.treaty_id,\n        status: treaty.treaty_status,\n        local_response: {\n            jurisdiction: 'UZ',\n            ai_id: 'revenant_v27_core',\n            signature: treaty.local_signature.signature_hash,\n            accepted_at: treaty.local_signature.acceptance_timestamp,\n            valid_until: new Date(Date.now() + (treaty.local_signature.validity_hours * 3600000)).toISOString()\n        },\n        mesh_routing_enabled: treaty.local_impact_assessment?.cross_border_routing || false,\n        response_timestamp: new Date().toISOString()\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,800],"id":"41f2a3b4-c5d6-7890-efab-901234567890","name":"BLOCK 10.8: Treaty Response Builder"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[2016,800],"id":"52a3b4c5-d6e7-8901-fabc-012345678901","name":"BLOCK 10.9: Treaty Response"},{"parameters":{"jsCode":"// ⚠️ BLOCK 10.ERROR: Treaty Rejection Handler (v27.0)\nconst item = $input.first();\nconst error = item.json;\n\nreturn {\n    json: {\n        treaty_id: error.treaty_id || 'UNKNOWN',\n        status: 'REJECTED',\n        rejection_reason: error.__validation_error || error.policy_check?.violations?.join(', ') || 'POLICY_VIOLATION',\n        rejected_at: new Date().toISOString(),\n        responding_jurisdiction: 'UZ',\n        appeal_window_hours: 24\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,1024],"id":"63b4c5d6-e7f8-9012-abcd-123456789012","name":"⚠️ BLOCK 10.ERROR: Treaty Rejection"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1344,1024],"id":"74c5d6e7-f8a9-0123-bcde-234567890123","name":"BLOCK 10.ERROR: Rejection Response"},{"parameters":{"httpMethod":"POST","path":"mesh-routing-webhook","responseMode":"responseNode","options":{}},"id":"85d6e7f8-a9b0-1234-cdef-345678901234","name":"BLOCK 11.0: Mesh Ingress Gateway","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,1568],"webhookId":"mesh-v27-ingress-001"},{"parameters":{"jsCode":"// BLOCK 11.1: Treaty Lookup (v27.0)\n// Verifies active treaty exists for routing request\nconst item = $input.first();\nconst request = item.json.body || item.json;\n\nreturn {\n    json: {\n        request_id: request.request_id || `REQ_${Date.now()}`,\n        target_jurisdiction: request.target_jurisdiction,\n        source_jurisdiction: request.source_jurisdiction,\n        payload_type: request.payload_type,\n        treaty_id: request.treaty_id,\n        routing_priority: request.priority || 'NORMAL',\n        __lookup_required: true\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,1568],"id":"96e7f8a9-b0c1-2345-defa-456789012345","name":"BLOCK 11.1: Treaty Lookup"},{"parameters":{"url":"=https://tnejfqkobchdaftsqzbw.supabase.co/rest/v1/ai_treaties?treaty_id=eq.{{ $json.treaty_id }}&status=eq.ACCEPTED_PENDING_COUNTERPARTY&select=*","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.pgrst.object+json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,1568],"id":"07f8a9b0-c1d2-3456-efab-567890123456","name":"BLOCK 11.2: Active Treaty Query","credentials":{"supabaseApi":{"id":"0fqPMb0O72FlSmre","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"treaty-exists","leftValue":"={{ !!$json.treaty_id }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[672,1568],"id":"18a9b0c1-d2e3-4567-fabc-678901234567","name":"BLOCK 11.3: Treaty Exists Gate"},{"parameters":{"jsCode":"// BLOCK 11.4: Mesh Router (v27.0)\n// Routes requests to appropriate jurisdiction endpoint\nconst item = $input.first();\nconst data = item.json;\n\nconst JURISDICTION_ENDPOINTS = {\n    'UZ': 'https://revenant.uz.mesh/api/v1/federated',\n    'KZ': 'https://revenant.kz.mesh/api/v1/federated',\n    'KG': 'https://revenant.kg.mesh/api/v1/federated',\n    'TJ': 'https://revenant.tj.mesh/api/v1/federated',\n    'TM': 'https://revenant.tm.mesh/api/v1/federated'\n};\n\nconst targetEndpoint = JURISDICTION_ENDPOINTS[data.target_jurisdiction];\nif (!targetEndpoint) {\n    return {\n        json: {\n            ...data,\n            routing_error: 'UNKNOWN_JURISDICTION_ENDPOINT',\n            __routing_failed: true\n        }\n    };\n}\n\nreturn {\n    json: {\n        ...data,\n        target_endpoint: targetEndpoint,\n        routing_path: `${data.source_jurisdiction} -> ${data.target_jurisdiction}`,\n        __routing_ready: true\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,1568],"id":"29b0c1d2-e3f4-5678-abcd-789012345678","name":"BLOCK 11.4: Mesh Router"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"route-uz","leftValue":"={{ $json.target_jurisdiction }}","rightValue":"UZ","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"UZ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"route-kz","leftValue":"={{ $json.target_jurisdiction }}","rightValue":"KZ","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"KZ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"route-kg","leftValue":"={{ $json.target_jurisdiction }}","rightValue":"KG","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"KG"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"route-tj","leftValue":"={{ $json.target_jurisdiction }}","rightValue":"TJ","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TJ"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"route-tm","leftValue":"={{ $json.target_jurisdiction }}","rightValue":"TM","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TM"}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1120,1568],"id":"30c1d2e3-f4a5-6789-bcde-890123456789","name":"BLOCK 11.5: Jurisdiction Switch"},{"parameters":{"jsCode":"// BLOCK 11.6: Consensus Validator (v27.0)\n// Validates mesh consensus before cross-border execution\nconst item = $input.first();\nconst route = item.json;\n\nconst CONSENSUS_THRESHOLD = 0.66;\nconst meshNodes = 5;\nconst requiredAgreements = Math.ceil(meshNodes * CONSENSUS_THRESHOLD);\n\nreturn {\n    json: {\n        ...route,\n        consensus: {\n            threshold: CONSENSUS_THRESHOLD,\n            mesh_node_count: meshNodes,\n            required_agreements: requiredAgreements,\n            current_agreements: 0,\n            status: 'PENDING_VALIDATION'\n        },\n        __consensus_check_required: true\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,1344],"id":"41d2e3f4-a5b6-7890-cdef-901234567890","name":"BLOCK 11.6: Consensus Validator"},{"parameters":{"method":"POST","url":"={{ $json.target_endpoint }}/validate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Treaty-ID","value":"={{ $json.treaty_id }}"},{"name":"X-Source-Jurisdiction","value":"={{ $json.source_jurisdiction }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"payload_type\": \"{{ $json.payload_type }}\",\n  \"consensus_request\": true,\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1792,1344],"id":"52e3f4a5-b6c7-8901-defa-012345678901","name":"BLOCK 11.7: Cross-Border Validation"},{"parameters":{"jsCode":"// BLOCK 11.8: Mesh Response Builder (v27.0)\nconst item = $input.first();\nconst result = item.json;\n\nreturn {\n    json: {\n        request_id: result.request_id,\n        routing_status: 'COMPLETED',\n        target_jurisdiction: result.target_jurisdiction,\n        treaty_valid: true,\n        consensus_reached: result.consensus?.status === 'VALIDATED',\n        response_timestamp: new Date().toISOString(),\n        mesh_hop_count: 1,\n        latency_ms: Date.now() - new Date(result.request_id?.split('_')[1] || Date.now()).getTime()\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,1344],"id":"63f4a5b6-c7d8-9012-efab-123456789012","name":"BLOCK 11.8: Mesh Response Builder"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[2240,1344],"id":"74a5b6c7-d8e9-0123-fabc-234567890123","name":"BLOCK 11.9: Mesh Response"},{"parameters":{"jsCode":"// ⚠️ BLOCK 11.ERROR: No Active Treaty Handler (v27.0)\nconst item = $input.first();\nconst request = item.json;\n\nreturn {\n    json: {\n        request_id: request.request_id,\n        routing_status: 'REJECTED',\n        rejection_reason: 'NO_ACTIVE_TREATY',\n        message: 'No valid treaty exists between jurisdictions. Treaty negotiation required.',\n        rejected_at: new Date().toISOString(),\n        treaty_negotiation_endpoint: '/treaty-negotiation-webhook'\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,1792],"id":"85b6c7d8-e9f0-1234-abcd-345678901234","name":"⚠️ BLOCK 11.ERROR: No Treaty"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[896,1792],"id":"96c7d8e9-f0a1-2345-bcde-456789012345","name":"BLOCK 11.ERROR: Treaty Response"}],"connections":{"BLOCK 10.0: Treaty Ingestion Gateway":{"main":[[{"node":"BLOCK 10.1: Treaty Validator","type":"main","index":0}]]},"BLOCK 10.1: Treaty Validator":{"main":[[{"node":"BLOCK 10.2: Validation Gate","type":"main","index":0}]]},"BLOCK 10.2: Validation Gate":{"main":[[{"node":"BLOCK 10.3: Treaty Terms Analyzer","type":"main","index":0}],[{"node":"⚠️ BLOCK 10.ERROR: Treaty Rejection","type":"main","index":0}]]},"BLOCK 10.3: Treaty Terms Analyzer":{"main":[[{"node":"BLOCK 10.4: Local Policy Checker","type":"main","index":0}]]},"BLOCK 10.4: Local Policy Checker":{"main":[[{"node":"BLOCK 10.5: Policy Gate","type":"main","index":0}]]},"BLOCK 10.5: Policy Gate":{"main":[[{"node":"BLOCK 10.6: Treaty Signature Generator","type":"main","index":0}],[{"node":"⚠️ BLOCK 10.ERROR: Treaty Rejection","type":"main","index":0}]]},"BLOCK 10.6: Treaty Signature Generator":{"main":[[{"node":"BLOCK 10.7: Treaty Repository","type":"main","index":0}]]},"BLOCK 10.7: Treaty Repository":{"main":[[{"node":"BLOCK 10.8: Treaty Response Builder","type":"main","index":0}]]},"BLOCK 10.8: Treaty Response Builder":{"main":[[{"node":"BLOCK 10.9: Treaty Response","type":"main","index":0}]]},"⚠️ BLOCK 10.ERROR: Treaty Rejection":{"main":[[{"node":"BLOCK 10.ERROR: Rejection Response","type":"main","index":0}]]},"BLOCK 11.0: Mesh Ingress Gateway":{"main":[[{"node":"BLOCK 11.1: Treaty Lookup","type":"main","index":0}]]},"BLOCK 11.1: Treaty Lookup":{"main":[[{"node":"BLOCK 11.2: Active Treaty Query","type":"main","index":0}]]},"BLOCK 11.2: Active Treaty Query":{"main":[[{"node":"BLOCK 11.3: Treaty Exists Gate","type":"main","index":0}]]},"BLOCK 11.3: Treaty Exists Gate":{"main":[[{"node":"BLOCK 11.4: Mesh Router","type":"main","index":0}],[{"node":"⚠️ BLOCK 11.ERROR: No Treaty","type":"main","index":0}]]},"BLOCK 11.4: Mesh Router":{"main":[[{"node":"BLOCK 11.5: Jurisdiction Switch","type":"main","index":0}]]},"BLOCK 11.5: Jurisdiction Switch":{"main":[[{"node":"BLOCK 11.6: Consensus Validator","type":"main","index":0}],[{"node":"BLOCK 11.6: Consensus Validator","type":"main","index":0}],[{"node":"BLOCK 11.6: Consensus Validator","type":"main","index":0}],[{"node":"BLOCK 11.6: Consensus Validator","type":"main","index":0}],[{"node":"BLOCK 11.6: Consensus Validator","type":"main","index":0}]]},"BLOCK 11.6: Consensus Validator":{"main":[[{"node":"BLOCK 11.7: Cross-Border Validation","type":"main","index":0}]]},"BLOCK 11.7: Cross-Border Validation":{"main":[[{"node":"BLOCK 11.8: Mesh Response Builder","type":"main","index":0}]]},"BLOCK 11.8: Mesh Response Builder":{"main":[[{"node":"BLOCK 11.9: Mesh Response","type":"main","index":0}]]},"⚠️ BLOCK 11.ERROR: No Treaty":{"main":[[{"node":"BLOCK 11.ERROR: Treaty Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[]}
